
*{ padding: 0; margin: 0;}

@media screen and (min-width: 2560px){

    body{
        position: relative;
    }

    #bodys{
        display: grid;
        grid-template-columns: 320px 1920px 320px;
        grid-template-areas: "body-one body-main body-three" "body-one body-main body-three" "body-one body-main body-three";
    }
    #bodys #main {
        position: absolute;
        width: 1920px;
        left: 320px;
        display: grid;
        grid-template-rows: 15vh 10vh 73vh 2vh;
        grid-template-columns: 16.7%  83.3%;
        grid-template-areas: "nav header" "nav div" "nav aside" "footer footer";
    }

    .mainHeader{ grid-area: header; background-color: rgb(255, 255, 255);}
    .mainDiv{ grid-area: div; background-color: rgb(255, 255, 255);}
    .mainNav{ grid-area: nav; background-color: rgb(255, 255, 255);}
    .mainAside{ grid-area: aside; background-color: rgb(255, 255, 255);}
    .mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}
   
    #body-one {
        position: fixed;
        width: 320px;
        right: 0;
        height: 1080px;
        background-image: url("../img/home/esquerda.jpg");
        background-position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #bodys #body-three {
        position: fixed;
        bottom: 0;
        width: 320px;
        height: 1080px;
        background-image: url("../img/home/direita.jpg");
        background-position: unset;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .menu {
        min-height:650px;
        width: 320px;
        height: 96vh;
        padding: 5px 25px 5px 25px;
        background-color: #3B3B3B;
        border-radius: 0 25px 25px 0;
        position: fixed;
        z-index: 1;
    }

    .div-main {
        width: 94%;
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 50px;
        border-top: 1px solid #C4C4C4;
    }

}



    @media screen and (max-width: 1920px){

        #body-main #main {
            display: grid;
            grid-template-rows: 15vh 10vh 73vh 2vh;
            grid-template-columns: 16.7%  83.3%;
            grid-template-areas: "nav header" "nav div" "nav aside" "footer footer";
        }


        .mainHeader{ grid-area: header; background-color: rgb(255, 255, 255);}
        .mainDiv{ grid-area: div; background-color: rgb(255, 255, 255);}
        .mainNav{ grid-area: nav; background-color: rgb(255, 255, 255);}
        .mainAside{ grid-area: aside; background-color: rgb(255, 255, 255);}
        .mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}

        .div-main {
            width: 94%;
            height: 5vh;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin: 0 50px;
            border-top: 1px solid #C4C4C4;
        }
    }


        
        