
*{ padding: 0; margin: 0;}


@media screen and (min-width: 2560px){

    #bodys{
        display: grid;
        grid-template-columns: 300px 1920px 0px;
        grid-template-areas: "body-one" "body-main" "body-three";
    }
    #bodys #main {
        display: grid;
        grid-template-rows: 15vh 10vh 73vh 2vh;
        grid-template-columns: 16.7%  83.3%;
        grid-template-areas: "nav header" "nav div" "nav aside" "footer footer";
    }

    .mainHeader{ grid-area: header; background-color: rgb(0, 255, 170);}
    .mainDiv{ grid-area: div; background-color: rgb(0, 17, 255);}
    .mainNav{ grid-area: nav; background-color: rgb(11, 42, 128);}
    .mainAside{ grid-area: aside; background-color: rgb(5, 19, 97);}
    .mainFooter{ grid-area: footer; background-color: rgb(6, 7, 85);}
   

    .menu {
        min-height:650px;
        width: 320px;
        height: 96vh;
        padding: 5px 25px 5px 25px;
        background-color: #3B3B3B;
        border-radius: 0 25px 25px 0;
        position: absolute;
        z-index: 1;
    }

}

    @media screen and (max-width: 1920px){

        #body-main #main {
            display: grid;
            grid-template-rows: 15vh 10vh 73vh 2vh;
            grid-template-columns: 16.7%  83.3%;
            grid-template-areas: "nav header" "nav div" "nav aside" "footer footer";
        }


        .mainHeader{ grid-area: header; background-color: rgb(255, 255, 255);}
        .mainDiv{ grid-area: div; background-color: rgb(255, 255, 255);}
        .mainNav{ grid-area: nav; background-color: rgb(255, 255, 255);}
        .mainAside{ grid-area: aside; background-color: rgb(255, 255, 255);}
        .mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}


    }

        
        