@font-face {
    src: url("fonts/Roboto/Roboto-Regular.ttf");
    font-family: 'Roboto-normal';
    font-weight: normal;
}
@font-face {
    src: url("fonts/Roboto/Roboto-Italic.ttf");
    font-family: 'Roboto-italic';
    font-weight: normal;
}

@font-face {
    src: url("fonts/Roboto/Roboto-Medium.ttf.ttf");
    font-family: 'Roboto-Medium';
    font-weight: normal;
}

p {
    margin-bottom: 0 !important;

}
/* estilo do menu lateral para ipad */

svg:not(:root).svg-inline--fa {
    overflow: visible;
    margin: 0 20px 0 10px !important;
}

.botaoAbrireFechar {
z-index: 2;
}

/* stilo dos cards classificados*/

.centroTelaClassificados {

    display: flex;
    padding-bottom: 40px;

}
.listaClassificados {
    width: calc(94% + 32px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 16px;
}

.listaClassificados > a {
    padding: 5px;
    /* margin: px; */
    margin: 10px;

}

.card {
    /* margin: 15px; */
    padding: 5px;
    width: 12rem;
    display: flex;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}

.card-corpo {
    text-align: center;
    padding: 2px;
}

.card-corpo div {
    margin: 5px 0;
}



.card-titulo {
    font-weight: bold;
    font-family: 'Roboto-normal', sans-serif;
    font-size: 15px;
}

/* fim stilo cards classificados */

/* Inicio stilo area para filtrar conteudo */

#areaFiltro {
    width: 94%;
    margin: 40px auto !important;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
    margin: 10px;
  /*  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);*/
}
.areaCamposGrandes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.areaBotaoSearch {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.campo-pesquisa > div {

    padding-bottom: 10px;
}

.nomeCampoPesquisa {
    font-size: 16px;
    font-weight: bold;
}

#botaoSearch {
    background-color: #3B3B3B;
    width: 150px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    color: white;
}

#btn-pesquisa {
    color: #3B3B3B;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-radius: 0 !important;

}

/* estilo modal card detalhes */

#corpo-modal {
    display: flex;
    flex-direction: column;
}

.cardy {
    width: 100%;
}

.linha-vertical {
    height: 80% ;
    /*Altura da linha*/
    border-left: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    left: 35%;
    /* top: 16%; */
    /* bottom: 80%; */
    color: rgb(172, 164, 164);
    position: absolute;
}

/* Estilo do modal - classificados */

.dadosUser {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.imagemUser {
    width: 20%;
    height: 70%;
}

.nomeUser  {
    width: 80%;
    height: 100%;
}

#user {
   
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 4px solid #878787;
}

.modal-content {
    width: 118%;
}

.no-gutters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* #col-md-4-bloco1 {
    width: 30% !important;
}

#col-md-4-bloco2 {
    width: 67% !important;
    border-left: 1px solid black;
} */
.card-body > div {
    padding-bottom: 20px;
} 

.dadosUser {
    display: flex;   
}

#col-md-4-bloco2 > #classificados-descricao {
    padding: 5% !important;
}


#fotoItem {
    width: 30%;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1rem;
}

#botaoModal {
    display: none;
}

.imagemUser{
    align-self: center;
    padding-right: 10px;
}


.interesses,
.quemSou {
    font-size: 14px;
    padding-bottom: 24px;
}

.interesses > button {
    padding: 0px 10px;
    width: auto;
}

.interesses h6 {
    font-size: 20px;
}

.quemSou h6{
    font-size: 17px;
}

.interesses button {
    margin-left: 5px;
    width: 60px;
    font-size: 12px;
    border: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    background-color: rgb(155, 158, 163);

}


.nomeUser > h4 {
    border-bottom: 2px solid #878787;
}

@media(max-width: 767px) {
    .linha-vertical {
        display: none;
    }
    .listaClassificados{
        justify-content: center;
    }

    #botaoSearch {
        margin: auto;
    }

}

@media (min-width: 576px){
.modal-dialog {
    max-width: 700px !important;

}
}