@font-face {
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Robot-normal';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Robot-ligth';    
    font-weight: normal;
}


.centroTelaComunicados{
    width: 94%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.accordion{
    margin: 20px;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
    width: 100%;
    
}


.card-header{
    background-color: #fafafa;
    padding:.50rem 1.0rem;  
}

.btn-link, .btn-link:hover{
    color: black;
    text-decoration: none;
}