@font-face {
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Robot-normal';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Robot-ligth';    
    font-weight: normal;
}




/* Aplicação de exceções para a página rerrespondências */

.centroTelaCorrespondencias{
    padding-bottom: 45px;
}
.correspondencia-section{
    width: 94%;
    height: 450px;
    margin: 40px 45px 0; 
    border-radius: 25px;
    display: flex;
    border-radius: 25px;  
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
    
}

.correspondencia-section article{
    width: 100%;
}

.correspondencia-section article .correspondencia-title {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #878787;
}
.correspondencia-section article .date,
.correspondencia-section article .type,
.correspondencia-section article .sender,
.correspondencia-section article .data,
.correspondencia-section article .receiver,
.correspondencia-section article .note {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
}

.correspondencia-section article #last-child {
    border-bottom: none;
}

@media(max-width: 500px){
    .correspondencia-section article .date,
    .correspondencia-section article .correspondencia-title,
    .correspondencia-section article .type,
    .correspondencia-section article .sender,
    .correspondencia-section article .data,
    .correspondencia-section article .receiver,
    .correspondencia-section article .note {
        font-size: 10px;
}

}