*{
    padding: 0;
    margin: 0;
}

/* Aplicação de exceções para a página rerrespondências */

.div-main .div-sub-class div #div-sub-correspondencia {
    padding-top:12px;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.div-main .div-sub-class #div-sub-moradores {
    padding-top:12px;
    border-bottom: none;
}