@font-face {
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Robot-normal';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Robot-ligth';    
    font-weight: normal;
}



/* stilo dos cards classificados*/



.centroTelaClassificados{
    
    display: flex;
    
    
} 

.listaClassificados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 15px;
    
}




.card{
    padding: 5px;
    width: 12rem;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}



.card-corpo{
    text-align: center;
    padding: 2px;
    font-family: "Robot-ligth"
}

.card-titulo{
    font-weight: bold;
    margin: 4px;
    
}

/* fim stilo cards classificados */

/* Inicio stilo area para filtrar conteudo */

#areaFiltro{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}
.areaCamposGrandes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.areaBotaoSearch{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.campo-pesquisa>div{
    padding-bottom: 10px;
}

.nomeCampoPesquisa{
    font-family: 'Robot-normal';

}

#botaoSearch{
    background-color: #3B3B3B;
    width: 150px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    color: white;
}

#btn-pesquisa{
    color: #3B3B3B;
    background-color:white;
    border-width: 1px;
    border-color: black;
    border-radius: 0 !important;

}

  
  
  /* Adicṍes Além de Classificados.css */


.card{
    margin: 20px
}

.card-img-semBorda{

    border: 2px solid #878787;
    height: 178px;
    width: 178px;
}

