@font-face {
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Robot-normal';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Robot-ligth';    
    font-weight: normal;
}



* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



.main {
    display: flex;
    flex-direction: column;

}

/*estilo do header*/
/* folha estilo header */

@font-face {
    src: url("fonts/Montserrat/Montserrat-Light.ttf");
    font-family: 'Montserrat-Ligth';
    font-weight: normal;
}

@font-face {
    src: url("fonts/Lato/Lato-Light.ttf");
    font-family: 'Lato-Ligth';
    font-weight: normal;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;

}

.titulo {
    display: flex;
}
.avatar {
    justify-content: flex-end;
    font-family: 'Lato-Ligth';
    font-size: 20px;
}

.nomePag {  
    text-transform: uppercase;
    color: #3B3B3B;
    font-family: 'Montserrat-Ligth';
    font-size: 40px;
    font-weight: bold;

}

.finalidPag {
    align-items: flex-end;
    font-family: 'Lato-Ligth';
    color: #878787;
    font-size: 20px;
    padding-left: 20px;
}


.nameUser {
    color: #3B3B3B;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;

}

.avatarUser {

    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 4px solid #878787;
}

.footer{
    background-color: black;
    color: blanchedalmond;

    
}



@media (max-width: 1024px) {
    #tit {
        display: flex;
        width: 100%;
        flex-direction: column;
        position: relative;
       

    }

    #avat {
        display: none;

    }

}

@media only screen and (max-width: 500px) {
    #tit > .nomePag {
        font-size: 25px;
        /* padding-top: 20px; */

    }
}

@media(min-width:1023px) {
    #icone-menu {
        display: none;
    }

    .mainHeader {
        padding-left: 40px;
        padding-right: 40px;

    }
    


}
/* fim do estilo do header */


/* stilo dos cards classificados*/



.centroTelaClassificados{
    
    display: flex;
    
    
} 

.listaClassificados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 15px;
}


.listaClassificados>a{
    padding: 5px;
    /* margin: px; */
    
}


.card{
    padding: 5px;
    width: 12rem;
    display: flex;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}



.card-corpo{
    text-align: center;
    padding: 2px;
    font-family: "Robot-ligth"
}

.card-titulo{
    font-weight: bold;
    margin: 4px;
    
}

/* fim stilo cards classificados */

/* Inicio stilo area para filtrar conteudo */

#areaFiltro{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}
.areaCamposGrandes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.areaBotaoSearch{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.campo-pesquisa>div{
    padding-bottom: 10px;
}

.nomeCampoPesquisa{
    font-family: 'Robot-normal';

}

#botaoSearch{
    background-color: #3B3B3B;
    width: 150px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    color: white;
}

#btn-pesquisa{
    color: #3B3B3B;
    background-color:white;
    border-width: 1px;
    border-color: black;
    border-radius: 0 !important;

}

/* estilo modal card detalhes */

#corpo-modal{
    display: flex;
  flex-direction: column;
  }
  
  .cardy{
    width: 100%;
  }
  
  .linha-vertical {
    height: 90%;
    /*Altura da linha*/
    border-left: 2px solid;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    left: 35%;
    /* top: 16%; */
    /* bottom: 80%; */
    color: rgb(172, 164, 164);
    position: absolute;
  }
  
  
  #user{
    margin-bottom: 52px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 4px solid #878787;
  }
  
  #fotoItem{
    padding-left: 15px;
  }
  
  .card-body{
  display: flex;
  flex-direction: column;
  }
  
  .card-body>div{
    padding-right:5px;
  }
  
  
  .dadosUser{
    display: flex;
    flex-direction:row;
    align-items: center;
    
  
  }
#botaoModal{
    display: none;
}

/*   
  #botaoClassificado{
    border-width: 0px;
    padding: 5px;
    margin: 10px;
    border-style: 0px;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12); 
    -webkit-appearance: none;
    
  }
   */
  
  
  
  /* 
  .classificadoBotao{
    padding-left: 15px;
    padding-right: 15px;
  } */
  /* 
  button{
    padding-left: 15px;
    padding-right: 15px;
  
  } */
  
  p{
    margin-bottom: 0 !important;
  
  }
  .interesses, .quemSou{
    font-size: 14px; 
    padding-bottom: 10px;
   }
  
  
  
  .interesses>button{
    width: auto;
    font-size: 12px;
    border: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: black;
    background-color: rgb(155, 158, 163);
    
   }
  
  .nomeUser>h4{
    border-bottom: 2px solid #878787;
  }
  
  @media(max-width: 767px){
    .linha-vertical{
      display: none;
    }
  
  }


  /* Adicṍes Além de Classificados.css */


.card{
    margin: 0 20px;
}

.card-img-semBorda{

    border: 2px solid #878787;
    height: 178px;
    width: 178px;
}

