/* folha estilo header */
@font-face {
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
    font-family: 'Montserrat-Ligth';    
    font-weight: normal;
}


@font-face {
    src: url(fonts/Lato/Lato-Light.ttf);
    font-family: 'Lato-Ligth';    
    font-weight: normal;
}


.mainHeader{
    display: flex;
    flex-direction: row;
    /* padding-left: 80px; */
    /* padding-right: 40px; */
    flex-wrap: wrap;
    /* height: 23vh; */
        
}

.mainHeader>div{

    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    
}
.titulo{
    display: flex;
}
.avatar{
    justify-content: flex-end;
    font-family: 'Lato-Ligth' ;
    font-size: 20px;
}

.nomePag{
    text-transform: uppercase;
    color: #3B3B3B;
    font-family: 'Montserrat-Ligth';
    font-size: 40px;
    font-weight: bold;
    
    
}

.finalidPag{
    font-family: 'Lato-Ligth';
    color: #878787;
    font-size: 20px;
    padding-left: 20px;
}

.nameUser{
    color:#3B3B3B;
    padding-left: 40px;
    padding-right: 40px;
}

.avatarUser{
    
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 4px solid #878787;
}

.mainLista li{
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    box-sizing: inherit;
    align-items: flex-start;
    
    /* display: flex; */
    /* align-items: center; */
}
.mainLista ul{
    /* line-height: 44px; */
    position: relative;
    align-items: center;
    
}

.mainDiv{
    display: flex;
    align-items: center ;
   
    
}

.mainLista li a{
    text-decoration: none;
}




@media (min-width:769px){
    .mainHeader{
        padding-left: 120px;
    }
    
    #mainList{
        padding-left: 120px;
    }

}

@media (max-width: 1024px){
    #tit{
        display: flex;
        width: 100%;
        flex-direction: column;
        position:relative;
        padding-top: 20px;
        /* align-items: center; */
        
    }
    
    /* #tit>div{
        align-items: center;
    } */
    
    #avat{
        display: none;

    }



} 

@media only screen and (max-width: 500px) {
    #tit>.nomePag{
        font-size: 25px;
        /* padding-top: 20px; */

    }
}

@media (min-width: 1024px){
    .mainHeader{
        padding-right: 40px;
    }
}
/* fim da folha de estilo header */
