/* folha estilo header */
@font-face {
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
    font-family: 'Montserrat-Ligth';    
    font-weight: normal;
}


@font-face {
    src: url(fonts/Lato/Lato-Light.ttf);
    font-family: 'Lato-Ligth';    
    font-weight: normal;
}


.mainHeader{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-right: 40px;
    flex-wrap: wrap;
    /* height: 23vh; */
        
}

.mainHeader>div{

    width: 50%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    
}

.avatar{
    justify-content: flex-end;
    font-family: 'Lato-Ligth' ;
    font-size: 20px;
}

.nomePag{
    text-transform: uppercase;
    color: #3B3B3B;
    font-family: 'Montserrat-Ligth';
    font-size: 40px;
    
    
}

.finalidPag{
    font-family: 'Lato-Ligth';
    color: #878787;
    font-size: 20px;
    padding-left: 20px;
}

.nameUser{
    color:#3B3B3B;
    padding-left: 40px;
    padding-right: 40px;
}

.avatarUser{
    
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 4px solid #878787;
}

/* fim da folha de estilo header */
