/* folha estilo header */
@font-face {
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
    font-family: 'Montserrat-Ligth';    
    font-weight: normal;
}


@font-face {
    src: url(fonts/Lato/Lato-Light.ttf);
    font-family: 'Lato-Ligth';    
    font-weight: normal;
}


.mainHeader {
    height: 15vh;
    display: flex;
    /* padding-left: 80px; */
    /* padding-right: 40px; */
    /* height: 23vh; */
        
}

.mainHeader .head-main {
    width: 100%;
    display: flex;
}

.mainHeader .head-main .titulo, .mainHeader .head-main .avatar {
    width: 50%;
    display: flex;
    align-items: center;
}

.mainHeader .head-main .avatar:last-child{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* #tit {
    display: flex;
    justify-content: flex-start;
} */

/* .titulo{
    display: flex;
} */

.avatar{
    /* display: flex;
    align-items: center; */
    font-family: 'Lato-Ligth' ;
    font-size: 20px;
}

#avat {
    display: flex;
    justify-content: flex-end;
}

.nomePag{
    text-transform: uppercase;
    color: #3B3B3B;
    font-family: 'Montserrat-Ligth';
    font-size: 40px;
    font-weight: bold;
}

.finalidPag{
    font-family: 'Lato-Ligth';
    color: #878787;
    font-size: 20px;
    padding-left: 20px;
}

.nameUser{
    color:#3B3B3B;
    padding-left: 40px;
    padding-right: 40px;
}

.avatarUser{
    
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: 4px solid #878787;
}

.mainHeader .logo-ipad {
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
    /* display: none; */
}

@media (min-width:769px){
    .mainHeader{
        padding-left: 40px;
    }
    
    #mainList{
        padding-left: 40px;
    }

}

@media (max-width: 1024px){
    #tit{
        display: flex;
        width: 100%;
        flex-direction: column;
        position:relative;
        padding-top: 20px;
        /* align-items: center; */
        
    }
    
    /* #tit>div{
        align-items: center;
    } */
    
    #avat{
        display: none;

    }



} 

@media only screen and (max-width: 500px) {
    #tit>.nomePag{
        font-size: 25px;
        /* padding-top: 20px; */

    }
}

@media (min-width: 1024px){
    .mainHeader{
        padding-right: 40px;
    }
}
/* fim da folha de estilo header */
