
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');


/* Início do estilo do main (bem-vindo) */


#moradores {
    position: relative;
    width: 100%;
    height: 15%;
    margin: 40px auto;
}

.resumo-section {
    width: 94%;
    margin-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-morador .resumo-section .resumo {
    width: 45%;
    min-width: 364px;
    height: 190px;
    margin: 20px;
    border-radius: 20px;
    flex-grow: 1;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);

}

.main-morador #resumo-comunicados {
    width: 100%;
    min-width: 364px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}

.main-morador .resumo-section .resumo-tema {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: start;
    color: #3B3B3B;
    width: 94;
    height: 30px;
    margin: 10px 16px 0;
    border-bottom: 1px solid #3B3B3B;
}

.main-morador .resumo-section .resumo-tema-comunicados {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: start;
    color: #3B3B3B;
    width: 98%;
    height: 30px;
    margin: 10px 16px 0;
    border-bottom: 1px solid #3B3B3B;
}
