@font-face {
    src: url(fonts/Montserrat/Montserrat-Light.ttf);
    font-family: 'Montserrat-Light';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-family: 'Montserrat-SemiBold';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Montserrat/Montserrat-Medium.ttf);
    font-family: 'Montserrat-Medium';    
    font-weight: normal;
}

@font-face {
    src: url(fonts/Lato/Lato-Regular.ttf);
    font-family: 'Lato-Regular';    
    font-weight: normal;
}

@font-face {
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Roboto-Light';    
    font-weight: normal;
}

@font-face {
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto-Regular';    
    font-weight: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    position: absolute;

}

.menu {
    min-height:650px;
    width: 320px;
    height: 96vh;
    padding: 5px 25px 5px 25px;
    background-color: #3B3B3B;
    border-radius: 0 25px 25px 0;
    position: absolute;
    z-index: 1;
}

.menu .logo-tipo{
    width: 100%;
    height: 160px;
    margin-top: 48px;
}

.menu div .img{
    background-image: url("../img/logo/logo-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 90px;
    
}

.menu div .user-name {
    display: none;
}

.menu .menu-dois .menu-dois-ul {
    padding: 10px;
}

.menu .menu-dois .principal-menu a,
.menu .menu-dois .principal-menu
{
    font-family: Montserrat-Light;
    text-transform: uppercase;
    font-size: 18px;
    color: #C4C4C4;
    list-style-type: none;
    text-decoration: none;
}

.menu .menu-dois .principal-menu ul {
    display: none;
}

.menu .menu-dois .principal-menu ul li a{
    text-transform: lowercase;
    font-family: 'Roboto-Light';
    color:#C4C4C4;
}

.menu .menu-dois .principal-menu .li-a {
    padding-left: 50px;
}

.menu .menu-dois .principal-menu {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
}
.menu .menu-dois .principal-menu svg{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    top: 5px;
    fill: #C4C4C4;
}

.menu .menu-dois .principal-menu .second-menu {
    padding: 10px 0 8px 30px;

}

.menu .menu-dois .principal-menu  ul{
    width: 261px;
    /* height: 165px; */
    padding: 15px 0 0px 20px;
    list-style-type: none;
}

.menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ ul {
    display: block;
}

.menu .menu-dois .principal-menu label:after {
    content:'\203A';
    float: right;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    position: absolute;
    right: 16px;
    top: 6px;
}

.menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
    content: '\2039';
    font-size: 25px;
    font-weight: bold;
}

.menu .menu-dois .principal-menu input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

 #check-menu[type="checkbox"]{
    display: none;
}

.menu-label{
    padding: 15px;
    position: absolute;
}

/* Início do estilo do main (bem-vindo) */

.main {
    position: relative;
    width: 100%;
}

.resumo-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main .resumo-section div {
    width: 100%;
    height: 216px;
    top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .resumo-section .resumo {
    width: 45%;
    height: 190px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);

}

.main .resumo-comunicados {
    width: 95%;
    height: 190px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
}

.main .resumo-section .resumo-tema {
    font-family: Roboto-Regular;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: start;
    color: #3B3B3B;
    width: 95%;
    height: 30px;
    margin: 10px 16px 0;
    border-bottom: 1px solid #3B3B3B;
}

.main .resumo-section .resumo-tema-comunicados {
    font-family: Roboto-Regular;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: start;
    color: #3B3B3B;
    width: 98%;
    height: 30px;
    margin: 10px 16px 0;
    border-bottom: 1px solid #3B3B3B;
}

/* estilo da página correspondência */


.mainAside .aside-main .correspondencia-section{
    width: 94%;
    height: 450px;
    margin: 40px 45px 0; 
    border-radius: 25px;
    display: flex;
    border-radius: 25px;  
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.mainAside .aside-main .correspondencia-section article{
    width: 100%;
}

.mainAside .aside-main .correspondencia-section article .correspondencia-title {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #878787;
}
.mainAside .aside-main .correspondencia-section article .date,
.mainAside .aside-main .correspondencia-section article .type,
.mainAside .aside-main .correspondencia-section article .sender,
.mainAside .aside-main .correspondencia-section article .data,
.mainAside .aside-main .correspondencia-section article .receiver,
.mainAside .aside-main .correspondencia-section article .note {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
}

.mainAside .aside-main .correspondencia-section article #last-child {
    border-bottom: none;
}


/* início da folha de estilos do footer */

.footer {
    position: fixed;
    width: 100%;
    height: 4vh;
    bottom: 0;
    background-color: black;
    z-index: 1;
}

.footer .footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4vh;
    text-align: center;
    font-family: Lato-Regular;
    color: #C4C4C4;
}

.footer .footer-div .icon-footer {
    width: 20px;
    height: 35px;
    margin: 0 10px;
    background-image: url("../img/logo/logo-simples.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Início do estilo para mobile */

@media(max-width: 768px){

    .menu {
        width: 320px;
        height: 100vh;
        left: -322px;
        padding: 5px 25px 5px 25px;
        background-color: #3B3B3B;
        position: relative;
        transition: all 0.7s;
        border-radius: 0 0 25px 0;
    }

    #check-menu[type="checkbox"]{
        display: none;
        transition: all 0.7s;
    }

    #check-menu[type="checkbox"]:checked ~ .menu {
        transform: translateX(320px);
        transition: all 0.7s;
        position: relative;
    }

    #check-menu:checked + .menu-label {
        left: 280px;
        transition: all 0.7s;
        width: 90px;
        height: 80px;
        z-index: -0;
    }
    
    .menu-label {
        left: -17px;
        width: 100px;
        height: 80px;
        padding-left: 32px;
        background-color: #3B3B3B;
        transition: all 0.7s;
        border-radius: 0 0 35px;
    }

     .menu-label .hamburger {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* Icone menu girar anti-horario 360g quando for clicado */
        transform: rotate(-180deg);
        transition: all 0.7s;
    }

     .menu-icon-mobile {
        width: 90%;
        height: 6px;
        background-color: #C4C4C4;
        border-radius: 50px;
        
    }

    /* Icone menu girar horário 360g quando for clicado */
    #check-menu:checked + .menu-label .hamburger {
        transform: rotate(180deg);
        transition: all 0.7s;
    }


    /* Primeria div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:first-child{
        position: absolute;
        transform: rotate(135deg);
    }

    /* Sumir com a div central */
    #check-menu:checked + .menu-label #icon-midle {
        background-color: #3B3B3B;
        transition: 0.5s;
    }

    /* Aparecer com a div central */
    #menu-label #icon-midle {
        transition: 0.7s;
        background-color: #C4C4C4;
    }

    /* Última div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:last-child{
        position: absolute;
        transform: rotate(-135deg);
    }

    .menu .logo-tipo{
        width: 100%;
        height: 112px;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        border-bottom: 1px solid #C4C4C4;
    }
    
    .menu div .img{
        background-image: url("../img/logo/user.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25%;        
        border: 3px solid #C4C4C4;
        text-align: center;
        width: 25%;
        height: 75px;
        margin: auto 0 auto 0;
        
    }

    .menu div .user-name {
        width: 70%;
        margin: auto 0 auto 0;
        font-family: Lato-Regular;
        font-size: 16px;
        display: inline-flex;
        color: #C4C4C4;
    }

    .menu .menu-dois .menu-dois-ul {
        padding: 70px 0 0 0;
    }

    .menu .menu-dois .principal-menu a,
    .menu .menu-dois .principal-menu
    {
        font-family: Montserrat-Light;
        text-transform: uppercase;
        font-size: 16px;
        color: #C4C4C4;
        list-style-type: none;
        text-decoration: none;
        padding: 0px;
    }

    .menu .menu-dois .principal-menu ul{
        padding: 0px 0 0 10px;
    }

    .menu .menu-dois .principal-menu .li-a {
        padding-left: 40px;
    }

    .menu .menu-dois .principal-menu svg{
        position: absolute;
        width: 24px;
        height: 24px;
        top:-3px;    
    }

    .menu .menu-dois .principal-menu label:after {
        content:'\203A';
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 5px;
        transform: rotate(90deg);
        position: absolute;
        bottom: 0px;
    }
    
    .menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
        content: '\2039';
        font-size: 25px;
        font-weight: bold;
        position: relative;;
        top: -6px;
        right: 25px;
    }

    .menu-function {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
    }

    .menu-function .menu-function-image {
        position: absolute;
        width: 100%;
        height: 50px;
        background-image: url("../img/icon/configuracoes2.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer {
        display: none;
    }


}
