@font-face {
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Robot-normal';    
    font-weight: normal;
}
@font-face {
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-family: 'Robot-ligth';    
    font-weight: normal;
}



/* stilo bot達o */

.areaBotaoCad {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
   
}

#botaoCadastro {
    background-color: #3B3B3B;
    width: 226px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* depois que inlcui o href no bot達o o texto subiu, coloquei esse padding para o texto ficar no meio */

}

@media(max-width:768px) {
    #botaoCadastro {
        background-color: #3B3B3B;
        width: 226px;
        height: 44px;
        border-radius: 22px;
        text-transform: uppercase;
        font-size: 16px;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
            /* depois que inlcui o href no bot達o o texto subiu, coloquei esse padding para o texto ficar no meio */
    }

    .areaBotaoCad {
        width: 94%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 10vh;
        align-items: center;
    }   
        /* depois que inlcui o href no bot達o o texto subiu, coloquei esse padding para o texto ficar no meio */
    
}

/* fim stilo botao */


/* stilo dos cards do morador */


.centroTelaMoradores{
    width: 94%;
    margin: 0  auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
    /* para deixar o footer mais pra baixo */
    padding-bottom: 40px;
    
} 


.centroTelaMoradores>div{
    margin: 1rem;
}

.imgMorador>img{
    
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
    border: 4px solid #878787;
}


.cardMorador{
    width: 30rem;
    max-width: 860px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}


.cardMorador>div{
padding: 1rem;
}


.corpoCard{
    width: 60%;
}

.card-titulo{
    font-family: "Robot-normal";
    font-weight: bold;
}

.tituloAndTools{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);

}


.card-text{
    font-family: "Robot-ligth";
    margin: 8px 0;
    
}


.toolsCardMorador>img{
    padding-left: 0.3rem;
}

@media (max-width: 450px){
    .imgMorador>img{
        width: 6rem;
    height: 6rem;

    }
}


@media (max-width: 1024px){
    
.centroTelaMoradores{
    
    
    justify-content: center; 
    
} 

    
}
