/* Início do estilo do main (bem-vindo) */
*{
    padding: 0;
    margin: 0;
}

.mainHeader{ grid-area: header; background-color: rgb(255, 255, 255);}
.mainNav{ grid-area: nav; background-color: rgb(255, 255, 255);}
.mainDiv{ grid-area: div; background-color: rgb(255, 255, 255);}
.mainAside{ grid-area: aside; background-color: rgb(255, 255, 255);}
.mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}


.div-main {
    width: 94%;
    margin: 0 50px;
    border-top: none;
    border-bottom: 1px solid #C4C4C4;
}


.div-main .div-sub-class {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.div-main .div-sub-class div {
    padding-top:12px;
    background-color: rgb(255, 255, 255);
}

.div-main .div-sub-class div a {
    text-decoration: none;
    font-family: Roboto-Regular;
    color: #3B3B3B;
    font-size: 24px;
    padding: 0 44px;
}

.div-main .div-sub-class #div-sub-moradores {
        padding-top:12px;
        border-bottom: 4px solid rgb(0, 0, 0);
}

.div-main .div-sub-class div:hover {
    transition-duration: 0.5s;
    background-color: rgba(196, 196, 196, 0.753);
    border-bottom: 0px solid rgba(196, 196, 196, 0.753);
    border-radius: 10px 10px 0 0;
}



.mc-main {
position: relative;
    width: 100%;
    height: 71vh;
}

.mc-morador-section {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 71vh;
}

.mc-main .mc-botton {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-bottom: 8px;
}
.mc-main .mc-botton a {
    position: absolute;
    top: 64px;
    right: 40px;
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 25px;
    color: #C4C4C4;
    text-decoration: none;
    font-family: Montserrat-Medium;
    text-transform: uppercase;
    background-color: #3B3B3B;
}

.mc-main .mc-morador-section .mc-morador-rows {
    width: 100%;
    height: 232px;
    top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mc-main .mc-morador-section .mc-morador-rows:first-child{
    position: absolute;
    top: 0;
}

.mc-main .mc-morador-section .mc-morador-rows .mc-morador {
    width: 46%;
    height: 190px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mc-main .mc-morador-section .mc-morador-rows .mc-morador .mc-morador-icon-photo img {
   width: 100%;
    height: 144px;
    border-radius: 50%;
}

.mc-main .mc-morador-section .mc-morador-rows .mc-morador .mc-morador-icon {
    width: 22%;
    height: 144px;
}

.mc-main .mc-morador-section .mc-morador-rows .mc-morador .mc-morado-data {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 170px;
}

.mc-main .mc-morador-section .mc-morador-rows .mc-morador .mc-morado-data .mc-morador-block1 {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #3B3B3B;
}

.mc-morado-data .mc-morador-block1 .mc-morador-name p{
    position: absolute;
    bottom: 2px;
    font-family: Roboto-Regular;
    font-weight: bold;
    color: #3B3B3B;
    font-size: 18px;
}

.mc-morador .mc-morado-data .mc-morador-icon-edit {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 50px;
    background-image: url("../img/icon/edit.svg");
    background-position: center;
    background-size: cover;
}

.mc-morador .mc-morado-data .mc-morador-icon-trash {
    position: absolute;
    width: 20px;
    height: 25px;
    right: 0;
    background-image: url("../img/icon/trash.svg");
    background-position: center;
    background-size: cover;
}

.mc-morador-rows .mc-morador .mc-morado-data .mc-morador-block2 {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    align-items: center;
}
.mc-morador-rows .mc-morador .mc-morado-data .mc-morador-block2 div {
    margin-top: 11px;
    font-size: 14px;
    font-family: Roboto-Regular;
    color: #3B3B3B;
    font-size: 18px; 
}


/* .mc-main .mc-morador-section .mc-morador-tema {
    font-family: Roboto-Regular;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: start;
    color: #3B3B3B;
    width: 95%;
    height: 30px;
    margin: 10px 16px 0;
    border-bottom: 1px solid #3B3B3B;
} */