/* Início do estilo para mobile */


@media screen and (min-width: 2500px){

    body{
        position: relative;
    }

    #bodys{
        display: grid;
        grid-template-columns: 320px 1920px 320px;
        grid-template-areas: "body-one body-main body-three";
    }
    #bodys #main {
        position: absolute;
        width: 1920px;
        left: 320px;
        display: grid;
        grid-template-rows: 15vh 10vh 71vh 4vh;
        grid-template-columns: 300px  84%;
        grid-template-areas: "main header" "main div" "main aside" "footer footer";
    }
/* 
    .mainHeader{ grid-area: header; background-color: rgb(255, 255, 255);}
    .mainDiv{ grid-area: div; background-color: rgb(255, 255, 255);}
    .mainMain{ grid-area: nav; background-color: rgb(255, 255, 255);}
    .mainAside{ grid-area: aside; background-color: rgb(255, 255, 255);}
    .mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}
    */
    #body-one {
        position: fixed;
        width: 290px;
        right: 0;
        height: 100vh;
        background-image: url("../img/home/direita.jpg");
        background-position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 2;
    }

    #bodys #body-three {
        position: fixed;
        bottom: 0;
        width: 360px;
        height: 100vh;
        background-image: url("../img/home/esquerda.jpg");
        background-position: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .div-main {
        width: 94%;
        height: 5vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 50px;
    }

    .footer {
        width: 100%;
        max-width: 1936px;
    }

}

/* ipad */
@media screen and (max-width: 780px){

    #bodys #main {
        position: relative;
        height: 736px;
        display: grid;
        grid-template-rows: 9vh 6vh 81vh 4vh;
        grid-template-columns:  0 100%;
        grid-template-areas: "main header" "div" "aside" "footer";
    }
    
    .mainHeader{ grid-area: header; background-color: #ffffff; height: 9vh; position: absolute; left: 80px; width: 89% !important;}
    .mainDiv{ grid-area: div; background-color: rgb(255, 255, 255); min-width: 100%; display: flex; justify-content: center;}
    .mainMain{ grid-area: main; background-color: rgb(255, 255, 255);}
    .mainAside{ grid-area: aside; background-color: rgb(255, 255, 255); padding-top: 2vh;}
    .mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}
            
    .menu {
        position: fixed;
        width: 320px;
        height: 96.5vh;
        left: -322px;
        padding: 5px 25px 5px 25px;
        background-color: #3B3B3B;
        transition: all 0.7s;
        border-radius: 0 0 25px 0;
    }

    .mainMain .checkbox {
        height: 100vh;
    }

    #check-menu[type="checkbox"]{
        display: none;
        transition: all 0.7s;
    }

    #check-menu[type="checkbox"]:checked ~ .menu {
        transform: translateX(320px);
        transition: all 0.7s;
    }

    #check-menu:checked + .menu-label {
        left: 280px;
        transition: all 0.7s;
        width: 90px;
        height: 80px;
        z-index: 1;
    }
    
    .menu-label {
        left: -17px;
        width: 100px;
        height: 85px;
        padding-left: 32px;
        background-color: #3B3B3B;
        transition: all 0.7s;
        border-radius: 0 0 35px;
        position: fixed;
        z-index: 1;
    }

        .menu-label .hamburger {
        width: 50px;
        height: 53px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* Icone menu girar anti-horario 360g quando for clicado */
        transform: rotate(-180deg);
        transition: all 0.7s;
    }

        .menu-icon-mobile {
        width: 90%;
        height: 6px;
        background-color: #C4C4C4;
        border-radius: 50px;
        
    }

    /* Icone menu girar horário 360g quando for clicado */
    #check-menu:checked + .menu-label .hamburger {
        transform: rotate(180deg);
        transition: all 0.7s;
    }


    /* Primeria div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:first-child{
        position: absolute;
        transform: rotate(135deg);
    }

    /* Sumir com a div central */
    #check-menu:checked + .menu-label #icon-midle {
        background-color: #3B3B3B;
        transition: 0.5s;
    }

    /* Aparecer com a div central */
    #menu-label #icon-midle {
        transition: 0.7s;
        background-color: #C4C4C4;
    }

    /* Última div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:last-child{
        position: absolute;
        transform: rotate(-135deg);
    }

    /* header */

    .mainHeader .head-main {
        min-width: 91%;
        display: flex;
    }
    

    .menu .logo-tipo{
        width: 100%;
        height: 112px;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        border-bottom: 1px solid #C4C4C4;
    }
    .menu div .img{
        background-image: url("../img/logo/user.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;        
        border: 3px solid #C4C4C4;
        text-align: center;
        width: 26%;
        height: 70px;
        margin: auto 0 auto 0;
    }

    .menu div .user-name {
        width: 70%;
        margin: auto 0 auto 0;
        font-family: Lato-Regular;
        font-size: 16px;
        display: inline-flex;
        color: #C4C4C4;
    }

    .menu .menu-dois .menu-dois-ul {
        padding: 120px 0 0 0;
    }

    .menu .menu-dois .principal-menu a,
    .menu .menu-dois .principal-menu
    {
        font-family: Montserrat-Light;
        text-transform: uppercase;
        font-size: 16px;
        color: #C4C4C4;
        list-style-type: none;
        text-decoration: none;
        padding: 10px;
    }

    .menu .menu-dois .principal-menu ul{
        padding: 0px 0 0 10px;
    }

    .menu .menu-dois .principal-menu .second-menu {
        padding: 20px 0 8px 30px;
    
    }
    .menu .menu-dois .principal-menu .li-a {
        padding-left: 50px;
    }

    .menu .menu-dois .principal-menu svg{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;    
    }

    .menu .menu-dois .principal-menu label:after {
        content:'\203A';
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 5px;
        transform: rotate(90deg);
        position: absolute;
        bottom: 0px;
    }
    
    .menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
        content: '\2039';
        font-size: 25px;
        font-weight: bold;
        position: relative;;
        top: -6px;
        right: 8px;
    }

    .menu-function {
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 18%;
        height: 6vh;
    }

    .menu-function .menu-function-image {
        position: absolute;
        width: 100%;
        height: 6vh;
        background-image: url("../img/icon/configuracoes2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* header */

    #body-main {
        width: 100%;
        min-width: 610px;
    }

    .mainHeader {
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #C4C4C4;
    }

    .div-main .div-sub-class {
        min-width: 100%;
    }

    .nomePag {
        width: 50%;
        min-width: 246px;
    }

    .mainHeader .head-main .nomePag p{
        width: 100%;
        text-transform: uppercase;
        font-size: 24px;
    }
    
    .mainHeader .head-main .titulo {        
        position: absolute;
        width: 98% !important;
    }

    .finalidPag {
        position: relative;
        width: 100%;
        min-width: 175px;
        height: 10vh;
        line-height: 10vh;
    }

    .finalidPag p{
        position: absolute;
        right: 0;
    }

    .mainHeader .head-main .avatar:last-child {
        display: none;
    }

    .logo-ipad {
        display: block;
        height: 8vh;        
    }

    .logo-ipad img {
        height: 9vh;
    }

    /* Div */

    .mainDiv {
        width: 100%;
        min-width: 600px;
    }

    .div-main {
        width: 94%;
        margin: 0 auto;
        border-top: none;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #C4C4C4;
    }
    
    
    .div-main .div-sub-class {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .div-main .div-sub-class div {
        padding-top:12px;
    }
    
    .div-main .div-sub-class div a {
        text-decoration: none;
        font-family: Roboto-Regular;
        color: #3B3B3B;
        font-size: 14px;
        padding: 0 14px;
    }
    
    .div-main .div-sub-class #div-sub-moradores {
            padding-top:12px;
            border-bottom: 4px solid rgb(0, 0, 0);
    }    
    
    .div-main .div-sub-class div:hover {
        transition-duration: 0.5s;
        background-color: rgba(196, 196, 196, 0.753);
        border-bottom: 0px solid rgba(196, 196, 196, 0.753);
        border-radius: 10px 10px 0 0;
    }
    
    /* Aside */

    .mainAside {
        min-width: 100%;    
    }
    /* Aside */

    /* bem-vindo */

    .main-morador .resumo-section .resumo {
        width: 100%;
    }

    .main-morador .resumo-section .resumo-tema-comunicados {
        width: 96%;
    }

    /* moradores */

    .mc-main-div .mc-morador-rows-two .mc-morador {
        width: 100vh;
        height: 24vh;
        max-height: 190px;
    }

    .mc-main-div .mc-morador-rows-two .mc-morador .mc-morador-icon-edit, 
    .mc-main-div .mc-morador-rows-two .mc-morador .mc-morador-icon-trash {
        bottom: 7px;
    }

    /* serviços */

    .mc-main-servicos .mc-servicos-section .mc-servicos-rows-two .mc-servicos {
        width: 100%;
        min-width: 375px;
    }
    /* Aside - correspondências  */

    .mainAside .aside-main .correspondencia-section {
        width: 94%;
        min-width: 610px;
        height: 450px;
        margin: 50px auto 0;
    }

    .aside-main-classificados .classificados-rows-two .classificados-conteudo .conteudo {
        width: 220px;
        height: 418px;
    }

    .mainAside .aside-main-classificados .classificados-rows-two .classificados-conteudo {
        margin: 5px;
        width: 230px;
    }

    .mainAside .aside-main-classificados .classificados-rows-two .classificados-conteudo #texto {
        height: 70px;
        font-size: 14px;
    }

    .aside-main-solicitacoes .mc-solicitacoes-buttom {
        min-width: 585px;
    }

    .aside-main-solicitacoes .solicitacoes-section {
        width: 94%;
        min-width: 585px;
        height: 254px;
        margin: 40px auto;
    }

    @media screen and (max-width: 416px){

        #bodys #main {
            position: relative;
            display: grid;
            grid-template-rows: 9vh 6vh 81vh 4vh;
            grid-template-columns:  0 410px;
            grid-template-areas: "main header" "div" "aside" "footer";
        }


        #body-main {
            width: 100%;
            min-width: 300px;
            height: 700px;
        }
        
        .mainHeader{ grid-area: header; background-color: #ffffff; height: 9vh; position: absolute; left: 80px; width: 81% !important;}
        .mainDiv{ grid-area: div; background-color: rgb(255, 255, 255); min-width: 100%; display: flex; justify-content: center;}
        .mainMain{ grid-area: main; background-color: rgb(255, 255, 255);}
        .mainAside{ grid-area: aside; background-color: rgb(255, 255, 255); padding-top: 2vh;}
        .mainFooter{ grid-area: footer; background-color: rgb(255, 255, 255);}
           
        
        
        .menu {
            width: 320px;
            height: 100vh;
            left: -322px;
            padding: 5px 25px 5px 25px;
            position: relative;
            transition: all 0.7s;
            border-radius: 0 0 25px 0;
        }
    
        #check-menu[type="checkbox"]{
            display: none;
            transition: all 0.7s;
        }
    
        #check-menu[type="checkbox"]:checked ~ .menu {
            transform: translateX(320px);
            transition: all 0.7s;
            position: relative;
        }
    
        #check-menu:checked + .menu-label {
            left: 283px;
            transition: all 0.7s;
            width: 87px;
            height: 68px;
            padding: 10px 26px;
            z-index: 2;
        }
        
        .menu-label {
            left: -17px;
            width: 87px;
            height: 68px;
            padding: 10px 26px;
            background-color: #3B3B3B;
            transition: all 0.7s;
            border-radius: 0 0 25px;
        }
    
         .menu-label .hamburger {
            width: 50px;
            height: 46px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            /* Icone menu girar anti-horario 360g quando for clicado */
            transform: rotate(-180deg);
            transition: all 0.7s;
        }
    
         .menu-icon-mobile {
            width: 90%;
            height: 6px;
            background-color: #C4C4C4;
            border-radius: 50px;
            
        }
    
        /* Icone menu girar horário 360g quando for clicado */
        #check-menu:checked + .menu-label .hamburger {
            transform: rotate(180deg);
            transition: all 0.7s;
        }
    
    
        /* Primeria div girar para virar X quadno clicado */
        #check-menu:checked + .menu-label .menu-icon-mobile:first-child{
            position: absolute;
            transform: rotate(135deg);
        }
    
        /* Sumir com a div central */
        #check-menu:checked + .menu-label #icon-midle {
            background-color: #3B3B3B;
            transition: 0.5s;
        }
    
        /* Aparecer com a div central */
        #menu-label #icon-midle {
            transition: 0.7s;
            background-color: #C4C4C4;
        }
    
        /* Última div girar para virar um X quadno clicado */
        #check-menu:checked + .menu-label .menu-icon-mobile:last-child{
            position: absolute;
            transform: rotate(-135deg);
        }
    
        .menu .logo-tipo{
            width: 100%;
            height: 112px;
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            border-bottom: 1px solid #C4C4C4;
        }
    
        .menu div .user-name {
            width: 70%;
            margin: auto 0 auto 0;
            font-family: Lato-Regular;
            font-size: 16px;
            display: inline-flex;
            color: #C4C4C4;
        }
    
        .menu .menu-dois .menu-dois-ul {
            padding-top: 45px;
        }
    
        .menu .menu-dois .principal-menu a,
        .menu .menu-dois .principal-menu
        {
            font-family: Montserrat-Light;
            text-transform: uppercase;
            font-size: 16px;
            color: #C4C4C4;
            list-style-type: none;
            text-decoration: none;
            padding: 0px;
        }
    
        .menu .menu-dois .principal-menu ul{
            padding: 0px 0 0 10px;
        }

        .menu .menu-dois .principal-menu .second-menu {
            padding-top: 8px;
        }
    
        .menu .menu-dois .principal-menu .li-a {
            padding-left: 40px;
        }
    
        .menu .menu-dois .principal-menu svg{
            position: absolute;
            width: 24px;
            height: 24px;
            top:-3px;    
        }
    
        .menu .menu-dois .principal-menu label:after {
            content:'\203A';
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-bottom: 5px;
            transform: rotate(90deg);
            position: absolute;
            bottom: 0px;
        }
        
        .menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
            content: '\2039';
            font-size: 25px;
            font-weight: bold;
            position: relative;;
            top: -6px;
            right: 28px;
        }
    
        .menu-function {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
        }
    
        .menu-function .menu-function-image {
            position: absolute;
            width: 100%;
            height: 50px;
            background-image: url("../img/icon/configuracoes2.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* header */
        .mainHeader {
            margin-left: -5px;
        }

        .mainHeader .head-main .titulo {
            margin-left: 0;
        }

        .mainHeader .head-main .nomePag {
            width: 83%;
            min-width: 0;
            height: 9vh;
        }
        .mainHeader .head-main .nomePag p{
            font-size: 20px;
            height: 9vh;
        }

        .finalidPag {
            display: none;
        }

        /* Div */
        .div-main .div-sub-class {
            margin: 0 auto;
        }

        .div-main .div-sub-class div a {
            font-size: 10px;
            padding: 0 10px;
        }

        /* Aside */

        /* Aside */

    /* bem-vindo */

    .main-morador .resumo-section .resumo {
        width: 100%;
        min-width: 375px;
        height: 300px;
    }

    .main-morador #resumo-comunicados {
        width: 100%;
        min-width: 375px;
        height: 190px;
    }

    .main-morador .resumo-section .resumo-tema {
        width: 92%;
    }

    .main-morador .resumo-section .resumo-tema-comunicados {
        width: 96%;
    }

    /* moradores */


    /* serviços */

    .mc-main-servicos .mc-servicos-section .mc-servicos-rows-two .mc-servicos {
        width: 100%;
    }
    /* Aside - correspondências  */
    .mainAside .aside-main .correspondencia-section .remetente,
    .mainAside .aside-main .correspondencia-section .observacao{
        display: none;
    }

    .mainAside .aside-main .correspondencia-section {
        width: 94%;
        min-width: 300px;
        height: 450px;
        margin: 50px auto 0;
    }

    /* classificados */

    .mainAside .aside-main-classificados .classificados-section .classificados-rows-one {
        height: 275px;
    }

    .mainAside .aside-main-classificados .classificados-bottom {
        width: 100%;
        bottom: 10%;
    }

    .mainAside .aside-main-classificados .classificados-bottom #button-geral {
        width: 34%;
        margin: 0 auto;
    }


    .mainAside .aside-main-classificados .classificados-section .classificados-rows-one .classificados-filter {
        height: 130px;
        flex-direction: column;
    }

    .mainAside .aside-main-classificados .classificados-section .classificados-rows-one .classificados-filter div {
        margin: 8px auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mainAside .aside-main-classificados .classificados-section .classificados-rows-one .classificados-filter #pesquisa {
        width: 90%;
        margin: 0 auto;
    }

    .mainAside .aside-main-classificados .classificados-section .classificados-rows-one .classificados-filter #pesquisar, .mainAside .aside-main-classificados .classificados-section .classificados-rows-one .classificados-filter .boxer {
        width: 90%;
        flex-direction: column;
    }

    .aside-main-classificados .classificados-rows-two .classificados-conteudo .conteudo {
        width: 100%;
        height: 418px;
    }

    .mainAside .aside-main-classificados .classificados-rows-two .classificados-conteudo {
        margin: 5px;
        width: 100%;
    }

    .mainAside .aside-main-classificados .classificados-rows-two .classificados-conteudo .classificados-titulo p{
        font-size: 22px;
    }

    .aside-main-classificados .classificados-rows-two .classificados-conteudo .classificados-referencia p{
        font-size: 20px;
    }

    .mainAside .aside-main-classificados .classificados-rows-two .classificados-conteudo #texto {
        height: 70px;
        font-size: 18px;
    }

    /*solicitações */

    .aside-main-solicitacoes .mc-solicitacoes-buttom {
        min-width: 100%;
    }

    .aside-main-solicitacoes .mc-solicitacoes-buttom #button-geral {
        margin: 0 auto;
    }

    .aside-main-solicitacoes .solicitacoes-section {
        min-width: 375px;
    }

    .aside-main-solicitacoes .solicitacoes-section article .codigo,
    .aside-main-solicitacoes .solicitacoes-section article .type,
    .aside-main-solicitacoes .solicitacoes-section article .date,
    .aside-main-solicitacoes .solicitacoes-section article .status {
    font-size: 14px;
}

    .aside-main-solicitacoes .solicitacoes-section .destinatario .status p {
        width: 35px;
        height: 35px;
        margin: 0 auto;
        line-height: 32px;
        border-radius: 50%;
        font-size: 0;
    }

    /* footer */
    
        .footer {
            display: none;
        }
    }

}