/* Início do estilo para mobile */

/* ipad */
@media(max-width: 768px){

    body{
        padding: 0;
        margin: 0;
    }

    #main {
        height: 1024px;
        display: grid;
        grid-template-rows: 10vh 7vh 79vh 4vh;
        grid-template-columns: 100%;
        grid-template-areas: "header" "div" "aside" "footer";
    }
    
    .mainHeader{ grid-area: header; background-color: aqua;}
    .mainDiv{ grid-area: div; background-color: rgb(255, 251, 0);}
    .mainNav{position: absolute; grid-area: nav; background-color: rgb(17, 0, 255);}
    .mainAside{ grid-area: aside; background-color: rgb(225, 0, 255);}
    .mainFooter{ grid-area: footer; background-color: rgb(255, 0, 119);}
    
    .mainNav {
        width: 0;
    }

    /* Menu */

    .menu {
        position: absolute;
        width: 320px;
        height: 100vh;
        left: -322px;
        padding: 5px 25px 5px 25px;
        background-color: #3B3B3B;
        position: relative;
        transition: all 0.7s;
        border-radius: 0 0 25px 0;
    }

    #check-menu[type="checkbox"]{
        display: none;
        transition: all 0.7s;
    }

    #check-menu[type="checkbox"]:checked ~ .menu {
        transform: translateX(320px);
        transition: all 0.7s;
        position: fixed;
    }

    #check-menu:checked + .menu-label {
        left: 280px;
        transition: all 0.7s;
        width: 90px;
        height: 80px;
        z-index: -0;
    }
    
    .menu-label {
        left: -17px;
        width: 100px;
        height: 80px;
        padding-left: 32px;
        background-color: #3B3B3B;
        transition: all 0.7s;
        border-radius: 0 0 35px;
        position: fixed;
        z-index: 1;
    }

     .menu-label .hamburger {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* Icone menu girar anti-horario 360g quando for clicado */
        transform: rotate(-180deg);
        transition: all 0.7s;
    }

     .menu-icon-mobile {
        width: 90%;
        height: 6px;
        background-color: #C4C4C4;
        border-radius: 50px;
        
    }

    /* Icone menu girar horário 360g quando for clicado */
    #check-menu:checked + .menu-label .hamburger {
        transform: rotate(180deg);
        transition: all 0.7s;
    }


    /* Primeria div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:first-child{
        position: absolute;
        transform: rotate(135deg);
    }

    /* Sumir com a div central */
    #check-menu:checked + .menu-label #icon-midle {
        background-color: #3B3B3B;
        transition: 0.5s;
    }

    /* Aparecer com a div central */
    #menu-label #icon-midle {
        transition: 0.7s;
        background-color: #C4C4C4;
    }

    /* Última div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:last-child{
        position: absolute;
        transform: rotate(-135deg);
    }

    .menu .logo-tipo{
        width: 100%;
        height: 112px;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        border-bottom: 1px solid #C4C4C4;
    }
    
    .menu div .img{
        background-image: url("../img/logo/user.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25%;        
        border: 3px solid #C4C4C4;
        text-align: center;
        width: 25%;
        height: 75px;
        margin: auto 0 auto 0;
        
    }

    .menu div .user-name {
        width: 70%;
        margin: auto 0 auto 0;
        font-family: Lato-Regular;
        font-size: 16px;
        display: inline-flex;
        color: #C4C4C4;
    }

    .menu .menu-dois .menu-dois-ul {
        padding: 120px 0 0 0;
    }

    .menu .menu-dois .principal-menu a,
    .menu .menu-dois .principal-menu
    {
        font-family: Montserrat-Light;
        text-transform: uppercase;
        font-size: 16px;
        color: #C4C4C4;
        list-style-type: none;
        text-decoration: none;
        padding: 10px;
    }

    .menu .menu-dois .principal-menu ul{
        padding: 0px 0 0 10px;
    }

    .menu .menu-dois .principal-menu .second-menu {
        padding: 20px 0 8px 30px;
    
    }
    .menu .menu-dois .principal-menu .li-a {
        padding-left: 50px;
    }

    .menu .menu-dois .principal-menu svg{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;    
    }

    .menu .menu-dois .principal-menu label:after {
        content:'\203A';
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 5px;
        transform: rotate(90deg);
        position: absolute;
        bottom: 0px;
    }
    
    .menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
        content: '\2039';
        font-size: 25px;
        font-weight: bold;
        position: relative;;
        top: -6px;
        right: 8px;
    }

    .menu-function {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
    }

    .menu-function .menu-function-image {
        position: absolute;
        width: 100%;
        height: 50px;
        background-image: url("../img/icon/configuracoes2.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* header */
    #body-main {
        position: relative;
    }
    .mainHeader {
        position: absolute;
        width: 100%;
        height: 11vh;
        top: 0;
        border-bottom: 1px solid #C4C4C4;
        background-color: white;
    }

    .nomePag {
        text-transform: uppercase;
        color: #3B3B3B;
        font-family: 'Montserrat-Ligth';
        font-size: 20px;
        font-weight: bold;
    }
    .titulo {
        left: 100px;
        position: absolute;
        height: 10vh;
        width: 580px !important;
    }

    .avatar {
        opacity: 0;
        display: none;
    }

    .logo-ipad {
        width: 5%;
        height: 10vh;        
    }

    .logo-ipad img {
        width: 90px;
        height: 10vh;
        position: absolute;
        right: 0;
    }

    /* Div */

    .mainDiv {
        background-color: rgb(255, 255, 255);
    }

    .div-main {
        width: 94%;
        margin: 0 auto;
        border-top: none;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #C4C4C4;
    }
    
    
    .div-main .div-sub-class {
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .div-main .div-sub-class div {
        padding-top:12px;
    }
    
    .div-main .div-sub-class div a {
        text-decoration: none;
        font-family: Roboto-Regular;
        color: #3B3B3B;
        font-size: 16px;
        padding: 0 30px;
    }
    
    .div-main .div-sub-class #div-sub-moradores {
            padding-top:12px;
            border-bottom: 4px solid rgb(0, 0, 0);
    }
    
    
    .div-main .div-sub-class div:hover {
        transition-duration: 0.5s;
        background-color: rgba(196, 196, 196, 0.753);
        border-bottom: 0px solid rgba(196, 196, 196, 0.753);
        border-radius: 10px 10px 0 0;
    }
    
    /* Aside */

    .mainAside {
        background-color: white;
    }

    .mc-main .mc-morador-section .mc-resumo {
        width: 100%;
        height: 805px;
    }

    .mc-morador-section {
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .mc-main .mc-morador-section .mc-morador-rows {
        min-width: 100%;
        height: 400px;
        margin: auto 0;
        display: block;
        align-items: center;
    }

    .mc-main .mc-morador-section .mc-morador-rows:first-child{
        position: absolute;
        height: 70px;
        top: 0px;       
    }

    .mc-main .mc-morador-section .mc-morador-rows:last-child {
        bottom: 20px;       
    }

    .mc-main .mc-morador-section .mc-morador-rows .mc-morador{
        position: relative;
        width: 94%;
        top: 40px;
        bottom: 0;
        margin: 20px auto;
    }

    /* Aside - correspondências  */

    .mainAside .aside-main .correspondencia-section {
        width: 94%;
        height: 450px;
        margin: 50px auto 0;
    }

    /* Aside - classificados */
    .mainAside .main {
        height: 954px;
    }

    .classificados-stage .classificados-filter .boxer {
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }
    
    .classificados-stage .classificados-filter .boxer .box {
        width: 50%;
        height: 8vh;
        margin-left: 20px;
        transform: translate(-0%, -0%);
    
    }
    
    .classificados-stage .classificados-filter .boxer .box:before {
        content: '';
        position: absolute;
        top: 24px;
        right:16px;
        width: 30px;
        height: 28px;
        background-color: rgb(216, 215, 215);
        background-image: url("../img/icon/filter-black.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: unset;
        border: 1px solid #878787;
        border-left: none;
    }
    
    /* .classificados-stage .classificados-filter .boxer .box:hover:before {
        background-color: #3B3B3B;
        background-image: url("../img/icon/filter-white.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: unset;
        pointer-events: none;
        transition: 0.5s;
    } */

    .mainAside .main section .classificados-rows {
        height: 320px;
    }

    .mainAside .main section .classificados-rows .classificados {
        width: 24%;
        height: 310px;
    }
    
    .mainAside .main section .classificados-rows .classificados .classificados-conteudo {
        width: 94%;
        height: 290px;
        margin-top: 7px;
    }
    
    .mainAside .main section .classificados-rows .classificados .classificados-conteudo .classificados-titulo {
        width: 100%;
        padding: 2px 0;
        font-family: Roboto-Regular;
        color: #000000;
        font-size: 14px;
        font-weight: bold;
    }
    
    .mainAside .main section .classificados-rows .classificados .classificados-conteudo .classificados-referencia {
        width: 100%;
        padding-bottom: 2px 0;
        font-family: Roboto-Regular;
        color: #000000;
        font-size: 12px;
    }
    
    .mainAside .main section .classificados-rows .classificados .classificados-conteudo .classificados-resumo {
        width: 92%;
        /* margin-left:4%; */
        font-style: unset;
        font-family: Roboto-Italic;
        color: #000000;
        font-size: 6px;
    }
    
    .mainAside .main section .classificados-rows .classificados .classificados-conteudo p{
        text-align: center;
    }
    
    .mainAside .main section .classificados-rows .classificados .classificados-conteudo #texto {
        display: flex;
        align-items: center;
        height: 94px;
        font-size:12px;
    }
    
    .mainAside .main section .classificados-rows img {
        width: 100%;
        height: 155px;
    }

    .mainFooter {
        position: absolute;
        bottom: 0;
    }

    .footer {
        bottom: 0;
        width: 100%;
        height: 40px;
    }

    .footer .footer-div {
        width: 100%;
        height: 40px;
    }

    .footer .footer-div .icon-footer {
        width: 20px;
        height: 30px;
        margin: 0 10px;
    }

}