/* Início do estilo do main (bem-vindo) */
*{
    padding: 0;
    margin: 0;
}

/* Aplicação de exceções para a página serviços */

.div-main .div-sub-class div #div-sub-prestadores {
    padding-top:12px;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.div-main .div-sub-class div #div-sub-moradores {
        padding-top:12px;
        border-bottom: none;
}
