<!DOCTYPE html>
<html>

<head>
    <title> Comunicados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <main class="container content-auth">
        <div id="banner">
            <img src="/img/banner-login.png" alt="" srcset="">
            <p>
                Escreva seu Comunicado
            </p>
        </div>
        <form class="form-auth card" method="post" action="/registro">
            <div id="logo">
                <img src="img/logo.png" alt="">
            </div>
            
            <input type="text" name="titulo" placeholder="Digite o Título">
            <input type="text" name="texto" placeholder="Escreva o texto">
            <button type="submit">
              Enviar 
            </button>
            <div class="register card">
                <p> Tem uma conta? <a href="/login"><b>Conecte-se</b></a> </p>
            </div>
        </form>

    </main>
</body>

</html>