<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Condomínio - Cadastro</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index/styles.css">
    <link rel="stylesheet" href="./css//bootstrap.min.css">
</head>

<body>

    <header>
        <div class="custom-container custom-container--header header-signin">
            <a href="#landing">
                <img class="logo-full" src="./img/assets/logo-original.svg" alt="Portal do Condomínio">
            </a>
            <ul class="header__menu">
                <li><a id="btn-cancelar" href="/login">Cancelar</a></li>
            </ul>
        </div>
    </header>
    <main>
           
        <div class="container">
            <div class="form-newUser row">
            
                <h2> Cadastro de novo usuário</h2>
               
                <form class="row" action="registro" method="POST">
                    
                    <div class="cpfError col-12">
                        <p><%=msgCPF%></p>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" name="nome" id="inputNome" placeholder="Digite seu nome completo" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="label-email">E-mail</label>
                        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Digite seu e-mail" aria-describedby="infoEmail" required>
                        <small id="infoEmail" class="form-text text-muted">Seu e-mail nunca será compartilhado.</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label>CPF</label>
                        <input type="text" class="form-control" name="cpf" id="inputcpf" placeholder="Informe o seu CPF (apenas números)" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Data de Nascimento</label>
                        <input type="date" class="form-control" name="dataNascimento" id="inputDataNasc" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apartamento</label>
                        <input type="number" class="form-control" name="id_apartamento" id="inputAp" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Senha</label>
                        <input type="password" class="form-control" name="senha" id="password" placeholder="Digite uma senha" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Confirmar Senha</label>
                        <input type="password" class="form-control" name="confirmarSenha" id="confirmPassword" placeholder="Confirme a senha" required>
                    </div>
                    <div class="form-group col-12 admin-check">
                        <div>
                            <input type="checkbox" class="form-check-input" id="admin" name="admin" value="1">
                            <label class="form-check-label" for="admin">Usuário Administrativo</label>
                        </div>
                    </div>
                    <button class="btn-cadastro cadastro-enter .enviar" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    <!-- <main class="text-center">
            <div class="header-logo" id="button-geral">
                <div class="logo"></div>
                <h1 class="portal">Portal do </h1>
                <h1 class="condominio">Condomínio</h1>
                <a id="btn-cancelar" href="/login">Cancelar</a>
            </div>
        <section class="cadastro-section container">
            <form class="form-signin-cadastro row" action="registro" method="POST">
                <div class="cpfError">
                    <p></p>
                </div>
                <div class="form-group col-sm-5">
                    <label>Nome</label>
                    <input type="text" name="nome" id="inputNome" placeholder="Nome">
                </div>
                <div class="form-group col-sm-5">
                    <label>Sobrenome</label>
                    <input type="text" name="sobrenome" id="inputSobrenome" placeholder="Sobrenome">
                </div>
                <div class="form-group col-sm-5">
                    <label class="label-email">E-mail</label>
                    <input type="email" name="email" id="inputEmail" placeholder="E-mail">
                </div>
                <div class="form-group col-sm-5">
                    <label>CPF</label>
                    <input type="number" name="cpf" id="inputcpf" placeholder="CPF">
                </div>
                <div class="form-group col-sm-5">
                    <label>RG</label>
                    <input type="number" name="rg" id="inputrg" placeholder="RG">
                </div>
                <div class="form-group col-sm-5">
                    <label>Data de Nascimento</label>
                    <input type="date" name="dataNascimento" id="inputDataNasc">
                </div> 
                <div class="form-group col-sm-5">
                    <label>Senha</label>
                    <input type="password" name="senha" id="password" placeholder="Senha">
                </div>
                <div class="form-group col-sm-5">
                    <label>Confirmar Senha</label>
                    <input type="password" name="confirmarSenha" id="confirmPassword" placeholder="Confirmar Senha">
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" id="admin" name="admin" value="1">
                    <label class="form-check-label" for="admin">Usuário Administrativo</label>
                </div>
                <div class="cadastro-enter">
                    <button class="btn-cadastro" type="submit">Cadastrar</button>
                </div>
            </form>
        </section> -->
    </main>
    <script src="/js/script.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
</body>
</html>