 
                    <footer class="py-2 footer">
                        <div class="container text-center" id="footerText">
                            <p class="m-0">
                                Portal do Condomínio | ST02G3-2020
                            </p>
                        </div>
                    </footer>
            