<nav class="slidemenu">


    <!-- isso faz ficar marcado ao clicar, precisa ver como mudar sozinho -->
        <!-- checked="checked" -->
    
    
        <% if(usuario.admin) { %>
            <a id="aprovar-classificados" for="slide-item-1"
                 href="/aprovarClassificados"> Aprovar Classificados
            </a>
            <% } %>

        <!-- Item 1 -->
        <a for="slide-item-2" id="classificados" href="/classificados">
            Classificados
        </a>
    
        <!-- Item 2 -->
        <% if(!usuario.admin) { %>
        <a id="meus-itens" href="/meusItens">Meus Itens</a>
        <% } %>
        
    </nav>