
<nav class="slidemenu">


<!-- isso faz ficar marcado ao clicar, precisa ver como mudar sozinho -->
    <!-- checked="checked" -->


    <!-- Item 1 -->
    <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle"/>
    <label for="slide-item-1">
        <a href="/moradores">Moradores</a>
    </label>

    <!-- Item 2 -->
    <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
    <label for="slide-item-2">
        <a href="/prestadoresDeServico">Prestadores de Serviço</a>
    </label>

    <!-- Item 3 -->
    <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
    <label for="slide-item-3">
        <a href="/correspondencias">Correspondências</a>
    </label>

    <!-- Item 4 -->
    <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
    <label for="slide-item-4">
        <a href="/contatosUteis">Contatos Úteis</a>
    </label>

    <div class="clear"></div>

    <!-- Bar -->
    <div class="slider">
        <div class="bar"></div>
    </div>
</nav>