<nav class="slidemenu">


<!-- isso faz ficar marcado ao clicar, precisa ver como mudar sozinho -->
    <!-- checked="checked" -->


    <!-- Item 1 -->
        <a href="/moradores" id="moradores">Moradores</a>
   

    <!-- Item 2 -->
    <a href="/prestadoresDeServico" id="prestadores-servico">Prestadores de Serviço</a>
    

    <!-- Item 3 -->
    <a href="/correspondencias" id="correspondencias">Correspondências</a>
    

    <!-- Item 4 -->
    <a href="/contatosUteis" id="contatos-uteis">Contatos Úteis</a>
    
</nav>