<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vizinhança - Classificados</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <!-- css da parte interna da pagina -->
        <!-- css header, menu lateral, menu superior e footer -->
        <link rel="stylesheet" href="./css/headerMenuFooter.css">
        <link rel="stylesheet" href="./css/detalhes.css">
        <link rel="stylesheet" href="./css/classificados.css">
        <script src="https://kit.fontawesome.com/1dceb0bf4e.js" crossorigin="anonymous"></script>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet">

        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

        <link
            rel="shortcut icon"
            href="./img/logo/logo-simples.png"
            type="image/x-icon"/>
    </head>

    <body>

        <div class="wrapper">
            <!-- Menu Retrátil -->
           
            <!-- botão para abrir e fechar o menu -->
            <%- include('./partials/menuRetratil') %>

            <!-- Conteudo da página -->

            <div id="content">
                <!-- Header -->
                <div class="mainHeader">
                    <div class="titulo" id="tit">
                        <div class="nomePag">
                            <p>Vizinhança</p>

                        </div>
                        <div class="finalidPag">
                            <p >O que acontece ao seu redor</p>
                        </div>

                    </div>
                    <!-- inclui o logo mobile e o avatar em uma partial  -->
                    <%- include('./partials/avatar') %>
               
                </div>

                <!-- menu superior -->
                <nav class="slidemenu">

                    <!-- Item 1 -->
                    <input
                        type="radio"
                        name="slideItem"
                        id="slide-item-1"
                        class="slide-toggle"
                        checked="checked"/>
                    <label for="slide-item-1">
                        <a href="classificados.html">Classificados</a>
                    </label>

                    <!-- Item 2 -->
                    <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
                    <label for="slide-item-2">
                        <a href="meusItens">Meus Itens</a>
                    </label>

                    <div class="clear"></div>

                    <!-- Bar -->
                    <div class="slider">
                        <div class="bar"></div>
                    </div>
                </nav>

                <nav class="navbar navbar-light campo-pesquisa" id="areaFiltro">

                    <div class="nomeCampoPesquisa">
                        Filtrar Classificados
                    </div>
                    <div class="areaCamposGrandes">
                        <div class="campoSearch" id="zero-filter">
                            <form class="form-inline">
                                <input
                                    class="form-control"
                                    style="width: 100%;"
                                    type="search"
                                    placeholder="Palavra-Chave"
                                    aria-label="Search">
                            </form>
                        </div>
                        <div class="btn-group" id="first-filter">
                            <button
                                class="btn btn-secondary text-left btn-sm"
                                id="btn-pesquisa"
                                style="width: 100%;"
                                type="button">
                                Categoria
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
                                id="btn-pesquisa"
                                style="width: 20%;"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Manutenção</a>
                                <a class="dropdown-item" href="#">Festas</a>
                                <a class="dropdown-item" href="#">Aulas</a>
                            </div>
                        </div>
                        <div class="btn-group" id="second-filter">
                            <button
                                class="btn btn-secondary text-left btn-sm"
                                id="btn-pesquisa"
                                style="width: 100%;"
                                type="button">
                                Tipo
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
                                id="btn-pesquisa"
                                style="width:20%;"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Manutenção</a>
                                <a class="dropdown-item" href="#">Festas</a>
                                <a class="dropdown-item" href="#">Aulas</a>
                            </div>
                        </div>
                    </div>
                    <div class="areaBotaoSearch">
                        <button class="btn  my-2 my-sm-0" id="botaoSearch" type="submit">Filtrar</button>
                    </div>
                </nav>

                <!-- area do centro da tela -->
                <div class="centroTelaClassificados">

                    <!-- cards dos classificados -->
                    <!-- estão dentro da tag <a> para abrir o modal que tá sendo referenciado -->
                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/aulas violão.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Aulas de Violão</div>
                                <div class="card-subtitulo">Juliana B. (B-74)</div>

                            </div>
                        </div>

                    </a>

                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/assistência.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Assistência e reparos</div>
                                <div class="card-subtitulo">Lucas M. (C-84)</div>
                            </div>
                        </div>
                    </a>

                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/bolo"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Bolo sob encomenda</div>
                                <div class="card-subtitulo">Maria B. (D-44)</div>
                            </div>
                        </div>

                    </a>

                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/aulas.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Aulas de Química</div>
                                <div class="card-subtitulo">Paula M. (A-63)</div>
                            </div>
                        </div>
                    </a>
                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/baba.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Babá</div>
                                <div class="card-subtitulo">Bárbara C. (A-33)</div>
                            </div>
                        </div>
                    </a>
                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/organizador.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Organizador de Eventos</div>
                                <div class="card-subtitulo">João A. (D-91)</div>
                            </div>
                        </div>
                    </a>
                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/marmita.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Marmitas Saudáveis</div>
                                <div class="card-subtitulo">Antônio O. (C-101)</div>
                            </div>
                        </div>
                    </a>
                    <a data-toggle="modal" data-target="#exampleModal">
                        <div class="card classificado">
                            <img
                                class="card-img-top"
                                src="./img/classificados/dog.png"
                                alt="Imagem de capa do card">
                            <div class="card-corpo">
                                <div class="card-titulo">Passeador de Cães</div>
                                <div class="card-subtitulo">Daniel S. (B-74)</div>
                            </div>
                        </div>
                    </a>

                    <!-- estrutura da modal, o <a> dos cards apontam direto para o modal usando o id
                    -->
                    <div
                        class="modal fade"
                        id="exampleModal"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Detalhes</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="corpo-modal">

                                    <!-- dados do centro do modal (quando abre o anuncio) -->
                                    <div class="cardy mb-3" id="cardModal">
                                        <h4 class="card-title">Passeador de Cães</h4>
                                        <div class="row no-gutters">

                                            <div class="col-md-4 text-left" id="fotoItem">
                                                <img src="./img/detalhes/dog.jpg" class="card-img" alt="...">
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem error
                                                    necessitatibus veniam doloremque veritatis dolorum fuga, dignissimos commodi
                                                    quia beatae cupiditate temporibus ducimus saepe facilis perspiciatis quasi
                                                    soluta laudantium totam!</p>
                                            </div>
                                            <div class="linha-vertical"></div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <div class="dadosUser">
                                                        <div class="imagemUser">
                                                            <img src="img/detalhes/user.jpg" id="user"/>
                                                        </div>
                                                        <div class="nomeUser">
                                                            <h4>Gustavo Nóbrega</h4>
                                                            <p>Apartamento B-74
                                                            </p>
                                                            <p>Morador desde: Jan/2018
                                                            </p>
                                                        </div>

                                                    </div>

                                                    <div class="interesses">
                                                        <h6>Interesses</h6>
                                                        <button>Futebol</button>
                                                        <button>Música</button>
                                                        <button>Cozinha</button>
                                                        <button>Cachorros</button>

                                                    </div>
                                                    <div class="quemSou">
                                                        <h6>Quem sou eu?</h6>
                                                        <p class="card-text text-left">Lorem ipsum dolor sit amet consectetur,
                                                            adipisicing elit. Voluptatem quaerat maxime autem iste debitis, totam
                                                            temporibus, nisi voluptate inventore nemo unde enim expedita doloremque quo rem
                                                            error tempore ad eveniet!</p>

                                                    </div>
                                                    <div class="icones">

                                                        <a><img src="./img/icon/mail.svg" alt=""></a>
                                                        <a><img src="./img/icon/whatsApp.svg" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- footer -->
                 <%- include('./partials/footer') %>

            </div>

        </div>

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({theme: "minimal"});

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>

</html>