<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Comunicados</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <!-- css da parte interna da pagina -->
        <link rel="stylesheet" href="./css/comunicados.css">
        <!-- css header, menu lateral, menu superior e footer -->
        <link rel="stylesheet" href="./css/headerMenuFooter.css">

        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

        <link
            rel="shortcut icon"
            href="./img/logo/logo-simples.png"
            type="image/x-icon"/>
    </head>

    <body>

        <div class="wrapper">
            <!-- Menu Retrátil -->
            <%- include('./partials/menuRetratil') %>

            <!-- Conteudo da página -->

            <div id="content">
                <!-- Header -->
                <div class="mainHeader">
                    <div class="titulo" id="tit">
                        <div class="nomePag">
                            <p>Comunicados</p>

                        </div>
                        <div class="finalidPag">
                            <p >Tudo sobre sua residência</p>
                        </div>

                    </div>
                    <!-- inclui o logo mobile e o avatar em uma partial  -->
                    <%- include('./partials/avatar') %>
                </div>

                <hr 0="0" class="docSepLine" margin:="margin:">

                <div class="centroTelaComunicados">

                    <table class="table">

                        <tbody>
                            <tr data-toggle="modal" data-target="#modalComunicado1">
                                <td >
                                    <b>COVID19 como se previnir?</b>
                                </td>
                                <td class="data">10/03/2020
                                </td>

                            </tr>
                            <tr data-toggle="modal" data-target="#modalComunicado2">

                                <td>
                                    <b>Cuidado com animais</b>
                                </td>
                                <td class="data">20/01/2020</tr>

                                <tr data-toggle="modal" data-target="#modalComunicado3">

                                    <td>Obra no hall de entrada</td>
                                    <td class="data">14/01/2020</td>

                                </tr>
                                <tr data-toggle="modal" data-target="#modalComunicado4">

                                    <td>Reunião geral - nova convocação</td>
                                    <td class="data">10/01/2020</td>

                                </tr>
                                <tr data-toggle="modal" data-target="#modalComunicado5">

                                    <td>Mensagem de fim de ano</td>
                                    <td class="data">19/12/2020</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div
                        class="modal fade"
                        id="modalComunicado1"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalScrollableTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Comunicado</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consectetur
                                    dicta minima reprehenderit dignissimos doloremque assumenda, exercitationem
                                    suscipit odio tenetur sed obcaecati aperiam unde asperiores facilis perspiciatis
                                    error ex debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequuntur dolor ab repellendus perferendis dicta quos, libero blanditiis
                                    mollitia, ut tempore sunt veritatis minus? Consequuntur fugit et quam nisi modi
                                    perferendis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam,
                                    quidem. Rem commodi dignissimos eos velit similique, ipsa cumque culpa nihil nam
                                    atque odit unde harum reprehenderit libero earum! Ut, deserunt?

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="modal fade"
                        id="modalComunicado2"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalScrollableTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Comunicado</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consectetur
                                    dicta minima reprehenderit dignissimos doloremque assumenda, exercitationem
                                    suscipit odio tenetur sed obcaecati aperiam unde asperiores facilis perspiciatis
                                    error ex debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequuntur dolor ab repellendus perferendis dicta quos, libero blanditiis
                                    mollitia, ut tempore sunt veritatis minus? Consequuntur fugit et quam nisi modi
                                    perferendis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam,
                                    quidem. Rem commodi dignissimos eos velit similique, ipsa cumque culpa nihil nam
                                    atque odit unde harum reprehenderit libero earum! Ut, deserunt?

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="modal fade"
                        id="modalComunicado3"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalScrollableTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Comunicado</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consectetur
                                    dicta minima reprehenderit dignissimos doloremque assumenda, exercitationem
                                    suscipit odio tenetur sed obcaecati aperiam unde asperiores facilis perspiciatis
                                    error ex debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequuntur dolor ab repellendus perferendis dicta quos, libero blanditiis
                                    mollitia, ut tempore sunt veritatis minus? Consequuntur fugit et quam nisi modi
                                    perferendis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam,
                                    quidem. Rem commodi dignissimos eos velit similique, ipsa cumque culpa nihil nam
                                    atque odit unde harum reprehenderit libero earum! Ut, deserunt?

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="modal fade"
                        id="modalComunicado4"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalScrollableTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Comunicado</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consectetur
                                    dicta minima reprehenderit dignissimos doloremque assumenda, exercitationem
                                    suscipit odio tenetur sed obcaecati aperiam unde asperiores facilis perspiciatis
                                    error ex debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequuntur dolor ab repellendus perferendis dicta quos, libero blanditiis
                                    mollitia, ut tempore sunt veritatis minus? Consequuntur fugit et quam nisi modi
                                    perferendis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam,
                                    quidem. Rem commodi dignissimos eos velit similique, ipsa cumque culpa nihil nam
                                    atque odit unde harum reprehenderit libero earum! Ut, deserunt?

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="modal fade"
                        id="modalComunicado5"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalScrollableTitle"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Comunicado</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem consectetur
                                    dicta minima reprehenderit dignissimos doloremque assumenda, exercitationem
                                    suscipit odio tenetur sed obcaecati aperiam unde asperiores facilis perspiciatis
                                    error ex debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Consequuntur dolor ab repellendus perferendis dicta quos, libero blanditiis
                                    mollitia, ut tempore sunt veritatis minus? Consequuntur fugit et quam nisi modi
                                    perferendis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam,
                                    quidem. Rem commodi dignissimos eos velit similique, ipsa cumque culpa nihil nam
                                    atque odit unde harum reprehenderit libero earum! Ut, deserunt?

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- footer -->
                   <%- include('./partials/footer') %>

                </div>

            </div>

            <!-- jQuery CDN - Slim version (=without AJAX) -->
            <script
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <!-- Popper.JS -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>
            <!-- jQuery Custom Scroller CDN -->
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#sidebar").mCustomScrollbar({theme: "minimal"});

                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar, #content').toggleClass('active');
                        $('.collapse.in').toggleClass('in');
                        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                    });
                });
            </script>
        </body>

    </html>