<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portal do Condomínio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale= 1.0">
        <link rel="stylesheet" href="./css/index/styles.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
    </head>
    <body>
        <header>
            <div class="custom-container custom-container--header">
                <a class="header__icon d-md-none" href="#menu">
                    <i class="material-icons" style="font-size:40px;">menu</i>
                </a>
                <a href="/">
                    <img class="logo-full" src="./img/assets/logo-original.svg" alt="Portal do Condomínio">
                </a>
                <ul class="header__menu d-none d-md-flex">
                    <li><a class="menu__option menu__option--login" href="/login">Login</a></li>
                </ul>
                <a class="header__icon d-md-none" href="/login">
                    <i class="material-icons-outlined" style="font-size:40px;">account_circle</i>
                </a>
            </div>
        </header>
        <main>
            Conheça o Portal do Condomínio!
        </main>
        <footer class="custom-container custom-container--footer">
            <span class="footer__block">
                Portal do Condomínio
            </span>
            <img class="footer__logo" src="img/logo/logo-simples.png" alt=""/>
            <span class="footer__block">
                ST02G3-2020
            </span>
        </footer>

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
    </body>
</html>