<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Bem Vindo</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <!-- css da parte interna da pagina -->
        <link rel="stylesheet" href="./css/index.css">
        <!-- css header, menu lateral, menu superior e footer -->
        <link rel="stylesheet" href="./css/headerMenuFooter.css">
        <link rel="stylesheet" href="./css/classificados.css">
        <link rel="stylesheet" href="./css/correspondencias.css">
        <link rel="stylesheet" href="./css/solicitacoes.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
        <script
            defer="defer"
            src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>

        <link
            rel="shortcut icon"
            href="./img/logo/logo-simples.png"
            type="image/x-icon"/>
    </head>

    <body>

        <div class="wrapper">
            <!-- Menu Retrátil -->
            <%- include('./partials/menuRetratil') %>

            <!-- Conteudo da página -->

            <div id="content">
                <!-- Header -->
                <div class="mainHeader">
                    <div class="titulo" id="tit">
                        <div class="nomePag">
                            <p>Seja bem vindo</p>

                        </div>
                        <div class="finalidPag">
                            <!-- <p >Tudo sobre sua residência</p> -->
                        </div>

                    </div>
                   
                     <!-- inclui o logo mobile e o avatar em uma partial  -->
                     <%- include('./partials/avatar') %>

                </div>

                <hr class="docSepLine">
                
                <!-- area do centro da tela -->
                <div class="centroTelaMoradores">

                    <!-- cards dos moradores -->

                   
                    <aside class="mainAside">
                        <main class="main-morador" id="moradores">
                            <section class="resumo-section">
                                <div class="resumo-box">
                                    <a class="resumo-section__info" href="/moradores">
                                        <div class="resumo-icon-box">
                                            <i class="material-icons-outlined resumo-icon" style="font-size:48px;">favorite_border</i>
                                        </div>
                                        <div class="resumo-section__info-content">
                                            <h2 class="resumo-section__info-title">Moradores</h2>
                                            <span class="resumo-section__info-subtitle">3</span>
                                        </div>
                                    </a>
                                    <a class="resumo-section__info" href="/prestadoresDeServico">
                                        <div class="resumo-icon-box">
                                            <i class="material-icons-outlined resumo-icon" style="font-size:48px;">assignment_ind</i>
                                        </div>
                                        <div class="resumo-section__info-content">
                                            <h2 class="resumo-section__info-title">Prestadores de Serviço</h2>
                                            <span class="resumo-section__info-subtitle">2</span>
                                        </div>
                                    </a>
                                    <a class="resumo-section__info" href="/meusItens">
                                        <div class="resumo-icon-box">
                                            <i class="material-icons-outlined resumo-icon" style="font-size:48px;">storefront</i>
                                        </div>
                                        <div class="resumo-section__info-content">
                                            <h2 class="resumo-section__info-title">Meus Anúncios</h2>
                                            <span class="resumo-section__info-subtitle">2</span>
                                        </div>
                                    </a>
                                </div>

                                <div class="resumo-box">
                                    <div class="resumo-section__classificados" href="classificados.html">
                                        <h2 class="resumo-section__classificados-title">Classificados</h2>
                                        <h3 class="resumo-section__classificados-subtitle">Últimos anúncios dos seus vizinhos</h3>
                                        <div class="centroTelaClassificados--home">
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/bolo"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Bolo sob encomenda</div>
                                                        <div class="card-subtitulo">Maria B. (D-44)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/aulas.png"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Aulas de Matemática</div>
                                                        <div class="card-subtitulo">Paula M. (A-63)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/baba.png"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Babá</div>
                                                        <div class="card-subtitulo">Bárbara C. (A-33)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/organizador.png"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Organizador de Eventos</div>
                                                        <div class="card-subtitulo">João A. (D-91)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/marmita.png"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Marmitas Saudáveis</div>
                                                        <div class="card-subtitulo">Antônio O. (C-101)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="classificados.html">
                                                <div class="card card--home classificado">
                                                    <div class="card-corpo card-more">
                                                        <i class="material-icons-outlined resumo-icon icon-seemore" style="font-size:48px;">add_circle_outline</i>
                                                        <div class="card-titulo card-titulo--home">Ver mais</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <h3 class="resumo-section__classificados-subtitle">Seus últimos anúncios</h3>
                                        <div class="centroTelaClassificados--home">
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/aulas violão.png"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Aulas de Violão</div>
                                                        <div class="card-subtitulo">Juliana B. (B-74)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="card card--home classificado">
                                                    <img
                                                        class="card-img-top"
                                                        src="./img/classificados/assistência.png"
                                                        alt="Imagem de capa do card">
                                                    <div class="card-corpo">
                                                        <div class="card-titulo card-titulo--home">Assistência e reparos</div>
                                                        <div class="card-subtitulo">Lucas M. (C-84)</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="meusItens.html">
                                                <div class="card card--home classificado">
                                                    <div class="card-corpo card-more">
                                                        <i class="material-icons-outlined resumo-icon icon-seemore" style="font-size:48px;">add_circle_outline</i>
                                                        <div class="card-titulo card-titulo--home"> Ver mais</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="resumo-section__others">
                                        <a class="resumo-section__others--sub" href="correspondencias.html">
                                            <h2 class="resumo-section__others-title">Últimas correspondências</h2>
                                                <table class="tabela-correspondencia">
                                                    <tr class="tabela-correspondencia-title">
                                                        <th class="th-title">Tipo</th>
                                                        <th class="th-title">Destinatário</th>
                                                        <th class="th-title">Recebido em</th>
                                                    </tr>
                                                    <tr class="tabela-correspondencia-content">
                                                        <th>Encomenda</th>
                                                        <th>Juliana B.</th>
                                                        <th>23/04/2020</th>
                                                    </tr>
                                                    <tr class="tabela-correspondencia-content">
                                                        <th>Carta</th>
                                                        <th>Gustavo N.</th>
                                                        <th>22/04/2020</th>
                                                    </tr>
                                                    <tr class="tabela-correspondencia-content">
                                                        <th>Telegrama</th>
                                                        <th>Camila L.</th>
                                                        <th>20/04/2020</th>
                                                    </tr>
                                                    <tr class="tabela-correspondencia-content">
                                                        <th>Carta</th>
                                                        <th>Carlos S.</th>
                                                        <th>20/04/2020</th>
                                                    </tr>
                                                    <tr class="tabela-correspondencia-content">
                                                        <th>Encomenda</th>
                                                        <th>Daniel S.</th>
                                                        <th>16/04/2020</th>
                                                    </tr>
                                                </table>
                                        </a>
                                        <a class="resumo-section__others--sub" href="comunicados.html">
                                            <h2 class="resumo-section__others-title">Últimos Comunicados</h2>
                                            <h3 class="resumo-section__others-nocontent">Sem novos comunicados nos últimos 7 dias</h3>
                                            
                                        </a>
                                        <a class="resumo-section__others--sub" href="solicitacoes.html">
                                            <h2 class="resumo-section__others-title">Status das Solicitações</h2>
                                            <table class="tabela-solicitacao">
                                                <tr class="tabela-solicitacao-title">
                                                    <th class="th-title">Tipo</th>
                                                    <th class="th-title">Status</th>
                                                </tr>
                                                <tr class="tabela-solicitacao-content">
                                                    <th>Reserva de salão</th>
                                                    <th class="solicitacao-status solicitacao-status--analise">Em análise</th>
                                                </tr>
                                                <tr class="tabela-solicitacao-content">
                                                    <th>Reforma de cômodo</th>
                                                    <th class="solicitacao-status solicitacao-status--indeferida">Indeferido</th>
                                                </tr>
                                        </a>
                                    </div>
                                </div>

                            </section>
                        </main>
                    </aside> 
                    
                    
                   <!-- footer -->
                   <%- include('./partials/footer') %>

                </div>

                  
            
            </div>
             


        </div>
       
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({theme: "minimal"});

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar, #content').toggleClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>
      
</html>