<!DOCTYPE html>
<html>

<head>
    <title>Correspondências</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <main class="container content-auth">
        <div id="banner">
            <img src="/img/banner-login.png" alt="" srcset="">
            <p>
                Escreva seu Comunicado
            </p>
        </div>
        <form class="form-auth card" method="post" action="/registro">
            <div id="logo">
                <img src="img/logo.png" alt="">
            </div>
            
            <input type="text" name="tipo" placeholder="Digite o Tipo da Correspondência">
            <input type="text" name="destinatario" placeholder="Nome do destinatário">
            <input type="text" name="apartamento" placeholder="Numero do apartamento">

            <button type="submit">
              Enviar 
            </button>
            <div class="register card">
                <a href="/registroCorrespondencia"><b>Conecte-se</b></a>
            </div>
        </form>

    </main>
</body>

</html>