<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal do Condomínio</title>
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <main class="text-center" >
    <div class="header-logo" >
      <div class="logo"></div>
      <h1 class="portal">Portal do </h1>
      <h1 class="condominio">Condomínio</h1>
    </div>
    <section class="sucess-section">
      <div id="sucess-main" >
      <h1 class="login-title">Cadastro realizado com sucesso!</h1>
      
      <div class="sucess-text">
          <p><b><% user.nome %> </b>, confirme seu cadastro acessando seu e-mail <b><% user.email %> </b>. </p>
      </div>
      <div class="button-sucess">
        <a href="/login">Voltar</a>
    </div>
    </div>
    </section>
  </main>
</body>

</html>