@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


/* stilo dos cards classificados*/

.areaBotaoCad {
    display: flex;
    justify-content: flex-end;
    height: calc(8vh - 1rem);
    min-height: calc(32px - 1rem);
    align-items: center;
    width: 94%;
    margin: 0 auto;
}

#botaoCadastro {
    background-color: #3B3B3B;
    width: 226px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
}

#content hr {
    margin: 0;
}

@media(max-width:768px) {
    #botaoCadastro {
        background-color: #3B3B3B;
        width: 226px;
        height: 44px;
        border-radius: 22px;
        text-transform: uppercase;
        font-size: 16px;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
            /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
    }

    .areaBotaoCad {
        width: 94%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: calc(8vh - 1rem);
        min-height: calc(32px - 1rem);
        align-items: center;
    }   
        /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
} 

.centroTelaClassificados{
    width: calc(94% + 1rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
} 

.card{
    min-width: 195px;
    margin: 1rem;
    padding: 5px;
    width: 12rem;
    display: flex;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}



.card-corpo{
    text-align: center;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.card-titulo{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 4px;
}

.card-img-Borda{
    border: 2px solid #878787;
    height: 70%;
    max-height: 183px;
}

@media (max-width: 770px){
    .card{
        max-width: 350px;
        flex-grow: 1;
       }
    .card-img-Borda{
        max-height: none;
    }
}

@media (max-width: 430px){

    .card{
        max-width: 82%;
        min-height: 50vh;
        flex-grow: 1;
        margin: 1rem auto;
    }

    .card-img-top {
        height: 14rem !important;
    }
}

