
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


/* stilo botão */

.areaBotaoCad {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 14vh;
    align-items: center;
    /* padding-bottom: 10px; */

}

#botaoCadastro {
    background-color: #3B3B3B;
    width: 200px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    color: white;
}

@media(max-width:768px) {
    #botaoCadastro {
        background-color: #3B3B3B;
        width: 175px;
        height: 44px;
        border-radius: 22px;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
    }

    .areaBotaoCad div {
       margin: 0 auto;
    }
}

/* fim stilo botao */


/* stilo dos cards contatos uteis*/



.centroTelaClassificados{
    width: calc(94% + 1rem);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card{
    min-width: 12rem;
    max-width: 15rem;
    min-height: 16rem;
    padding: 5px;
    margin: 1rem;
    display: flex;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}

.card-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 4px;
}

.card-corpo{
    text-align: center;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.toolsCardAnuncio{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.toolsCardAnuncio a{
    margin: 10px 10px;
}

.toolsCardAnuncio a img{
    padding-left: 5px;
    padding-right: 5px;
}


/* fim stilo cards classificados */

/* Inicio stilo area para filtrar conteudo */

#areaFiltro{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}
.areaCamposGrandes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.areaBotaoSearch{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.campo-pesquisa>div{
    padding-bottom: 10px;
}

.nomeCampoPesquisa{
    font-family: 'Roboto', sans-serif;

}

#botaoSearch{
    background-color: #3B3B3B;
    width: 150px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    color: white;
}

#btn-pesquisa{
    color: #3B3B3B;
    background-color:white;
    border-width: 1px;
    border-color: black;

}

.modal-body form #form-image-meusitens {
    display: flex;
    flex-direction: column;
}

.modal-body form .img-thumbnail-meusitens {
    width: 56%;
    min-width: 230px;
    height: 18vh;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    margin: 3vh auto;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.meusitens-button-save-image {
    background-color: #5586a3 !important;
    border: none !important;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 8px 16px !important;
    border-radius: 48px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    margin: 16px auto !important;
}

.slidemenu #meus-itens {
    padding: 0px 24px;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 16px;
    float: left;
    color: #000000;
    border-bottom: 5px solid rgb(0, 0, 0);
}

.slidemenu #meus-itens:hover {
    background-color: #d4d4d4;
}

.slidemenu #classificados:hover {
    background-color: #d4d4d4;
    border-bottom: 5px solid #aaaaaa;
}

.slidemenu #classificados {
    padding: 0 24px;
    font-size: 16px;
    text-align: center;
    display: block;
    float: left;
    color: #838383;
}


