@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


/* stilo dos cards classificados*/

.profileTitle {
    margin-top: 24px;
    margin-bottom: 24px;
}

.centroOpcoesPerfil{
    width: calc(94% + 1rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

} 

.card{
    box-sizing: border-box;
    min-width: 196px;
    margin: 16px;
    padding: 16px;
    width: 50%;
    display: flex;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.12);
}



.card-corpo{
    text-align: center;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.card-titulo{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 4px;
}

.card-img-semBorda{
    border: 2px solid #878787;
    height: 70%;
    width: 100%;
}

.options{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

#salvarAlteracoes {
    border: none !important;
    background-color: #7aa355 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 8px 24px !important;
    border-radius: 48px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    margin: 0 24px !important;
}

@media (max-width: 770px){
    .card{
        max-width: 350px;
        flex-grow: 1;
       }
}

@media (max-width: 430px){
    .card{
        max-width: 350px;
        min-height: 484px;
        flex-grow: 1;
       }
}

