@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


/* stilo dos cards classificados*/



.centroOpcoesPerfil{
    width: calc(94% + 1rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

} 

.card{
    min-width: 195px;
    margin: 1rem;
    padding: 5px;
    width: 25rem;
    display: flex;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}



.card-corpo{
    text-align: center;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.card-titulo{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 4px;
}

.card-img-semBorda{
    border: 2px solid #878787;
    height: 70%;
    width: 100%;
}

@media (max-width: 770px){
    .card{
        max-width: 350px;
        flex-grow: 1;
       }
}

@media (max-width: 430px){
    .card{
        max-width: 350px;
        min-height: 484px;
        flex-grow: 1;
       }
}

