
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


/* stilo botão */

.areaBotaoCad {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    align-items: center;
}

#botaoCadastro {
    background-color: #3B3B3B;
    width: 226px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */

}

@media(max-width:768px) {
    #botaoCadastro {
        background-color: #3B3B3B;
        width: 226px;
        height: 44px;
        border-radius: 22px;
        text-transform: uppercase;
        font-size: 16px;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
            /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
    }

    .areaBotaoCad {
        width: 94%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 10vh;
        align-items: center;
    }    
}

/* fim stilo botao */


/* stilo dos cards do morador */

.centroTelaPrestServico{
    width: calc(94% + 1rem);
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    padding-bottom: 40px;
    
} 

.centroTelaPrestServico>div{
    margin: 1rem;
    flex-grow: 1;
}

.imgPrestServ>img{
    
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
    border: 4px solid #878787;
}


.cardPrestServico{
    /* width: 48%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}


.cardPrestServico>div{
padding: 1rem;
}


.corpoCard{
    width: 60%;
}

.card-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.tituloAndTools{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 5px;
}



.card-text{
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

.toolsCardPrestServ>img{
    padding-left: 0.3rem;
}

.toolsCardPrestServ a {
    margin: 10px;
}

.modal-body form #form-image-prestadores {
    display: flex;
    flex-direction: column;
}

.modal-body form .img-thumbnail-prestadores {
    width: 56%;
    min-width: 230px;
    height: 18vh;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    margin: 3vh auto;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.prestadores-button-save-image {
    background-color: #5586a3 !important;
    border: none !important;
    color: #fff !important;
    text-transform: uppercase !important;
    padding: 8px 16px !important;
    border-radius: 48px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    margin: 16px auto !important;
}

.slidemenu #prestadores-servico {
    padding: 0px 24px;
    text-align: center;
    display: block;
    font-weight: 500;
    float: left;
    color: #000000;
    border-bottom: 8px solid rgb(0, 0, 0);
}

.slidemenu #contatos-uteis,
.slidemenu #moradores,
.slidemenu #correspondencias  {
    padding: 0 24px;
    text-align: center;
    display: block;
    float: left;
    color: #838383;
}


@media (max-width: 450px){
    .imgPrestServ>img{
        width: 6rem;
    height: 6rem;

    }
}
