
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

/* stilo botão */

.areaBotaoCad {
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    padding-top: 50px;
   
}

#botaoCadastro {
    background-color: #3B3B3B;
    width: 200px;
    height: 44px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
}

#botaoDetalhe {
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b3b3b;
    background-color: white;
    /* depois que inlcui o href no botão o texto subiu, coloquei esse padding para o texto ficar no meio */
}
/* fim stilo botao */


/* início do estilo da página solicitações */

.centroTelaSolicitacoes{
    padding-top: 40px;
}


.aside-main-solicitacoes {
    width: 94%;
    margin: 0 auto;
}

.aside-main-solicitacoes .mc-solicitacoes-buttom {
    width: 94%;
    height: 5vh;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside-main-solicitacoes .solicitacoes-section {
    width: 100%;
    min-width: 300px;
    margin: 40px 0; 
    border-radius: 25px;
    display: flex;
    border-radius: 25px;  
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
}

.solicitacoes-section article{
    width: 100%;
}

.aside-main-solicitacoes .solicitacoes-section article .solicitacoes-title {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
  
}

.aside-main-solicitacoes .solicitacoes-section article .codigo,
.aside-main-solicitacoes .solicitacoes-section article .type,
.aside-main-solicitacoes .solicitacoes-section article .date,
.aside-main-solicitacoes .solicitacoes-section article .status {
    width: 100%;
    height: 64px;
    border-top: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #000000;
}

.aside-main-solicitacoes .solicitacoes-section .destinatario .status p {
    width: 143px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
}

.aside-main-solicitacoes .solicitacoes-section .destinatario .status-grey{
    background-color: rgb(54, 54, 54);
    color: white;
}

.aside-main-solicitacoes .solicitacoes-section .destinatario .status-red{
    color: white;
    background-color: #EB5757;
}

.aside-main-solicitacoes .solicitacoes-section .destinatario .status-green{
    color: white;
    background-color: #6FCF97;
}


.logo-ipad {
    display: none;
}

.tabela-solicitacao {
    width: 100%;
    color: #3b3b3b;
    text-align: center;
}

.tabela-solicitacao-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.tabela-solicitacao-content {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.solicitacao-status {
    box-sizing: border-box;
    border-radius: 36px;
}

.solicitacao-status--deferida {
    background-color: #6fcf97;
}

.solicitacao-status--indeferida {
    background-color: #eb5757;
}

.solicitacao-status--analise {
    background-color: #BDBDBD;
}

.modal-body #filter-select select {
    padding-left: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.modal-body .form-group {
    width: 100%;
    margin-bottom: 20px;
}

@media(max-width:765px) {

    .areaBotaoCad {
        justify-content: center;
    }

    .docSepLine{
        display: none;
    }

    .aside-main-solicitacoes .mc-solicitacoes-buttom {
        min-width: 100%;
    }

    .aside-main-solicitacoes .mc-solicitacoes-buttom #button-geral {
        margin: 0 auto;
    }

    .aside-main-solicitacoes .solicitacoes-section {
        min-width: 300px;
    }

    .aside-main-solicitacoes .solicitacoes-section article .codigo,
    .aside-main-solicitacoes .solicitacoes-section article .date,
    .aside-main-solicitacoes .solicitacoes-section article .status,
    .aside-main-solicitacoes .solicitacoes-section article .type {
        font-size: 14px;
    }

    .aside-main-solicitacoes .solicitacoes-section .destinatario .status p {
        width: 35px;
        height: 35px;
        margin: 0 auto;
        line-height: 32px;
        border-radius: 50%;
        font-size: 0;
    }
}

