/* ipad */
@media screen and (max-width: 780px){
        
    .menu {
        position: fixed;
        width: 320px;
        height: 96vh;
        left: -322px;
        padding: 5px 25px 5px 25px;
        background-color: #3B3B3B;
        transition: all 0.7s;
        border-radius: 0 0 25px 0;
    }

    .mainMain .checkbox {
        height: 100vh;
    }

    #check-menu[type="checkbox"]{
        display: none;
        transition: all 0.7s;
    }

    #check-menu[type="checkbox"]:checked ~ .menu {
        transform: translateX(320px);
        transition: all 0.7s;
    }

    #check-menu:checked + .menu-label {
        left: 280px;
        transition: all 0.7s;
        width: 90px;
        height: 80px;
        z-index: 1;
    }
    
    .menu-label {
        left: -17px;
        width: 100px;
        height: 85px;
        padding-left: 32px;
        background-color: #3B3B3B;
        transition: all 0.7s;
        border-radius: 0 0 35px;
        position: fixed;
        z-index: 1;
    }

        .menu-label .hamburger {
        width: 50px;
        height: 53px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /* Icone menu girar anti-horario 360g quando for clicado */
        transform: rotate(-180deg);
        transition: all 0.7s;
    }

        .menu-icon-mobile {
        width: 90%;
        height: 6px;
        background-color: #C4C4C4;
        border-radius: 50px;
        
    }

    /* Icone menu girar horário 360g quando for clicado */
    #check-menu:checked + .menu-label .hamburger {
        transform: rotate(180deg);
        transition: all 0.7s;
    }


    /* Primeria div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:first-child{
        position: absolute;
        transform: rotate(135deg);
    }

    /* Sumir com a div central */
    #check-menu:checked + .menu-label #icon-midle {
        background-color: #3B3B3B;
        transition: 0.5s;
    }

    /* Aparecer com a div central */
    #menu-label #icon-midle {
        transition: 0.7s;
        background-color: #C4C4C4;
    }

    /* Última div girar para virar um X quadno clicado */
    #check-menu:checked + .menu-label .menu-icon-mobile:last-child{
        position: absolute;
        transform: rotate(-135deg);
    }

    .mainHeader .head-main {
        min-width: 91%;
        display: flex;
    }
    

    .menu .logo-tipo{
        width: 100%;
        height: 112px;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        border-bottom: 1px solid #C4C4C4;
    }
    .mainMain .menu .logo-tipo {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .mainMain .menu .logo-tipo .img{
        display: none;
    }

    .mainMain .menu .logo-tipo .img-mobile{
        width: 75px;
        height: 75px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .mainMain .menu .logo-tipo .img-mobile img{
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 2px #C4C4C4 solid;
    }

    .menu div .user-name {
        width: 70%;
        margin: auto 0 auto 0;
        font-family: Lato-Regular;
        color: #C4C4C4;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu .menu-dois .menu-dois-ul {
        padding: 120px 0 0 0;
    }

    .menu .menu-dois .principal-menu a,
    .menu .menu-dois .principal-menu
    {
        font-family: Montserrat-Light;
        text-transform: uppercase;
        font-size: 16px;
        color: #C4C4C4;
        list-style-type: none;
        text-decoration: none;
        padding: 10px;
    }

    .menu .menu-dois .principal-menu ul{
        padding: 0px 0 0 10px;
    }

    .menu .menu-dois .principal-menu .second-menu {
        padding: 20px 0 8px 30px;
    
    }
    .menu .menu-dois .principal-menu .li-a {
        padding-left: 50px;
    }

    .menu .menu-dois .principal-menu svg{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;    
    }

    .menu .menu-dois .principal-menu label:after {
        content:'\203A';
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 5px;
        transform: rotate(90deg);
        position: absolute;
        bottom: 0px;
    }
    
    .menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
        content: '\2039';
        font-size: 25px;
        font-weight: bold;
        position: relative;;
        top: -6px;
        right: 8px;
    }


    .menu .div-function {
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 18%;
        height: 6vh;
    }

    .menu .menu-function {
        display: flex;
        justify-content: end;
    }

    .menu .menu-function .menu-function-image {
        width: 100%;
        height: 6vh;
        background-image: url("/img/icon/configuracoes2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    body .footer {
        height: 4vh !important;
        display: block;
    }

    .py-2 #footerText {
        line-height: 4vh;
        font-size: 16px;
        padding-left: 0;
    }

    #areaFiltro {
        height: 314px;
    }

    .areaCamposGrandes {
        height: 200px;
    }

    .areaBotaoSearch {
        width: 100%;
        height: 6vh;
    }

    /* .centroTelaCorrespondencias .correspondencia-section {
        width: 94%;
        min-height: 16vh;
        margin: 0 auto;
        border-radius: 25px;
        display: flex;
        border-radius: 25px;
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.12), -6px -6px 8px rgba(0, 0, 0, 0.12);
    } */

    @media screen and (max-width: 416px){
        
        .menu {
            width: 320px;
            height: 100vh;
            left: -322px;
            padding: 5px 25px 5px 25px;
            position: relative;
            transition: all 0.7s;
            border-radius: 0 0 25px 0;
        }
    
        #check-menu[type="checkbox"]{
            display: none;
            transition: all 0.7s;
        }
    
        #check-menu[type="checkbox"]:checked ~ .menu {
            transform: translateX(320px);
            transition: all 0.7s;
            position: relative;
        }
    
        #check-menu:checked + .menu-label {
            left: 283px;
            transition: all 0.7s;
            width: 87px;
            height: 68px;
            padding: 10px 26px;
            z-index: 2;
        }
        
        .menu-label {
            left: -17px;
            width: 87px;
            height: 68px;
            padding: 10px 26px;
            background-color: #3B3B3B;
            transition: all 0.7s;
            border-radius: 0 0 25px;
        }
    
         .menu-label .hamburger {
            width: 50px;
            height: 46px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            /* Icone menu girar anti-horario 360g quando for clicado */
            transform: rotate(-180deg);
            transition: all 0.7s;
        }
    
         .menu-icon-mobile {
            width: 90%;
            height: 6px;
            background-color: #C4C4C4;
            border-radius: 50px;
            
        }
    
        /* Icone menu girar horário 360g quando for clicado */
        #check-menu:checked + .menu-label .hamburger {
            transform: rotate(180deg);
            transition: all 0.7s;
        }
    
    
        /* Primeria div girar para virar X quadno clicado */
        #check-menu:checked + .menu-label .menu-icon-mobile:first-child{
            position: absolute;
            transform: rotate(135deg);
        }
    
        /* Sumir com a div central */
        #check-menu:checked + .menu-label #icon-midle {
            background-color: #3B3B3B;
            transition: 0.5s;
        }
    
        /* Aparecer com a div central */
        #menu-label #icon-midle {
            transition: 0.7s;
            background-color: #C4C4C4;
        }
    
        /* Última div girar para virar um X quadno clicado */
        #check-menu:checked + .menu-label .menu-icon-mobile:last-child{
            position: absolute;
            transform: rotate(-135deg);
        }
    
        .menu .logo-tipo{
            width: 100%;
            height: 112px;
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            border-bottom: 1px solid #C4C4C4;
        }
    
        .menu div .user-name {
            width: 70%;
            margin: auto 0 auto 0;
            font-family: Lato-Regular;
            font-size: 16px;
            display: inline-flex;
            color: #C4C4C4;
        }
    
        .menu .menu-dois .menu-dois-ul {
            padding-top: 45px;
        }
    
        .menu .menu-dois .principal-menu a,
        .menu .menu-dois .principal-menu
        {
            font-family: Montserrat-Light;
            text-transform: uppercase;
            font-size: 16px;
            color: #C4C4C4;
            list-style-type: none;
            text-decoration: none;
            padding: 0px;
        }
    
        .menu .menu-dois .principal-menu ul{
            padding: 0px 0 0 10px;
        }

        .menu .menu-dois .principal-menu .second-menu {
            padding-top: 8px;
        }
    
        .menu .menu-dois .principal-menu .li-a {
            padding-left: 40px;
        }
    
        .menu .menu-dois .principal-menu svg{
            position: absolute;
            width: 24px;
            height: 24px;
            top:-3px;    
        }
    
        .menu .menu-dois .principal-menu label:after {
            content:'\203A';
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-bottom: 5px;
            transform: rotate(90deg);
            position: absolute;
            bottom: 0px;
        }
        
        .menu .menu-dois .principal-menu input[type="checkbox"]:checked ~ label:after {
            content: '\2039';
            font-size: 25px;
            font-weight: bold;
            position: relative;;
            top: -6px;
            right: 28px;
        }
    
        .menu-function {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
        }
    
        .menu-function .menu-function-image {
            position: absolute;
            width: 100%;
            height: 50px;
            background-image: url("/images/icon/configuracoes2.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* header */
        .mainHeader {
            margin-left: -5px;
        }

        .mainHeader .head-main .titulo {
            margin-left: 0;
        }

        .mainHeader .head-main .nomePag {
            width: 83%;
            min-width: 0;
            height: 9vh;
        }
        .mainHeader .head-main .nomePag p{
            font-size: 20px;
            height: 9vh;
        }

        .finalidPag {
            display: none;
        }

        /* Div */
        .div-main .div-sub-class {
            margin: 0 auto;
        }

        .div-main .div-sub-class div a {
            font-size: 10px;
            padding: 0 10px;
        }
    }
}